<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/4/plot" value="false" />
    <add key="/atigpu/0/temperature/5/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/2/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/voltage/1/plot" value="false" />
    <add key="/atigpu/0/voltage/2/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/load/1/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="716" />
    <add key="mainForm.Location.Y" value="185" />
    <add key="mainForm.Width" value="910" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/lpc/it8688e/fan/3/plot" value="false" />
    <add key="/lpc/it8688e/fan/4/plot" value="false" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="186" />
    <add key="plotForm.Location.Y" value="442" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="gadgetMenuItem" value="false" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/atigpu/0/expanded" value="false" />
    <add key="/atigpu/0/voltage/expanded" value="false" />
    <add key="/atigpu/0/clock/expanded" value="false" />
    <add key="/atigpu/0/temperature/expanded" value="false" />
    <add key="/atigpu/0/load/expanded" value="false" />
    <add key="/atigpu/0/fan/expanded" value="false" />
    <add key="/atigpu/0/control/expanded" value="false" />
    <add key="/atigpu/0/power/expanded" value="false" />
    <add key="/hdd/4/expanded" value="false" />
    <add key="/hdd/3/expanded" value="false" />
    <add key="/hdd/2/expanded" value="false" />
    <add key="/hdd/1/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="/ram/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="false" />
    <add key="/lpc/it8688e/expanded" value="true" />
    <add key="/mainboard/expanded" value="false" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAMs+bFz2q/+GBwPDgf+daUJiDGBw4D8ArDc7UxgAAAA=" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEAFvzW73sV/8NDwaGA/+FjwmLMYDBgf8AvKRpZxgAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAGsT+ln6q/+GBwPDgf99F4TFGMDgwH8AHX8zLRgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAMvNOVn6q/+GBwPDgf+rdouIMYDBgf8AlovLchgAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAMvNOVn6q/+GBwPDgf+zp4iIMYDBgf8A7Ioj6BgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADvksrf0V/8NDwaGA/97l4mIMYDBgf8ADxehnhgAAAA=" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMkABu812ARh7xa2HzBDWgf9FrFPhar6fui8OYwMAOURzQUgAAAA=" />
    <add key="/atigpu/0/load/1/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMkCAfZt1KhOUzSD9VoMdxk5jSoGKN9jdXJgIU2Ovnp8MF19x6yEzhH3gfxHrVKiZDfbBcUlwM11sNeFmnuNKh5sz8xJMjYP9tgtw8xle9iXBzZ/gnAwXP7UObqY9APFwXAfMAAAA" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoBBg12bdSoTAxQc80uCszf6J8PY9kv84GyGNKYUKFvA4ebCRCg7wEE9H6Zmgf2KWw+ZIewD/4tYp0LtemAfHAczv8GuhwVhF3N/CtyurSvh4vbnuNKh7A6HmZfg4g7bLiTC9b7sS4LbO8EZ4c5T62DiLI4AAZBNcfwAAAA=" />
    <add key="/atigpu/0/voltage/2/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMgDB2TM+9uw22wVg7BW3HjIzgMGB/0WsU+Fqvp+6Lw5jAwD1h6g+SAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMgDBrJmR9uw22wVg7BW3HjIzgMGB/0WsU+Fqvp+6Lw5jAwBfEE6BSAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMgBBepqbfZt1KhOMfcwvCcw2MQ623+ifDBfnCjzOAmPfXJgIV6Oej1Cz4tZDZgYwOPC/iHUq3PzgOISZPSxJcPVtznrsMPbMSwg12y4kwtW87EOIT3BG2HVqHcIcAMWaA+fYAAAA" />
    <add key="/atigpu/0/clock/2/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoCAg5lzm3UqE5jNcMnpmF8ShN3A6LzRPxkqbuC8xA/KbvjklMaUAmVnOd9cmAhhK/Q7q+fD1Ps7r7j1kBnCPvC/iHUq1C475+A4qPkOlc49LDA2jzNzP9RMBynnrSthboh1PseVDjWz1HnmJZj4TOdtF6D2MvxzetkHFT8g4TzBGeoGB0bnU+ug4gkrnAEh9cqL/AAAAA==" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoDAgVsu7DbbBWDsCZsfMjNAOP+7dKbC1Xw/dV8cxgYAL0Xc0UgAAAA=" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoDBN8c261QmCPuBwzG/JChbw3GjfzKUvcpxiR+MzeKYxpQCZXs53VyYCGUnOKnnw9SwO03Y/JAZwj7wv0tnKtQuDafgOJj5nE49LDB2jCNzP8zMPsetK2HiDxzPcaVD2czOMy/BxDOdtl2A2Wvg+LIPJq7sNME5Ge7+U+tg4qHOAIU2oHv8AAAA" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMkABu812ARh7wuaHzBDWgf9dOlPhar6fui8OYwMAyGssFkgAAAA=" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoDBOsc261QmCHuF4zG/JDh7o38ylL3KcYlfMlw8jSkFyt7keHNhIpS9xVE9H6ZmneOEzQ+ZIewD/7t0psLtCo5LgqvpYUHYxdyfArdr60qY+BrHc1zpUPYux5mXkuB2bbuQCNf7sg+hfoIzwp2n1sHETzgCAKUri7X8AAAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEANOfPav0V/8NDwaGA//5NlQzMoBBgFObdSoThO3rdMwvCcr2c9ron8wEU7PED8b2d0pjSoGzby5MhOtVz0eon7D5ITOEfeB/l85URpiZwXFJcDU9LAi7mPsRZm5diVBzjisdrmbmJYT4tguJcPGXfQhzJjgnw91zal0S3EwAndV1pvwAAAA=" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="H4sIAAAAAAAEAJMtmVX6q/+GBwPDgf8K16sZGaCA3Wa7AIw9YfNDZgjrwP8unalwNd9P3ReHsQHEGERhSAAAAA==" />
    <add key="/atigpu/0/temperature/4/values" value="H4sIAAAAAAAEAJMtmVX6q/+GBwPDgf8K16sZGaCA3Wa7AIw9YfNDZgjrwP8unalwNd9P3ReHsQHEGERhSAAAAA==" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAJMtmVX6q/+GBwPDgf8K16sZGcDAxIndZrsAjD1h80NmCPvA/y6dqXA130/dF4exAQcOnz9IAAAA" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAJMtmVX6q/+GBwPDgf8K16sZGcAgwondZrsAjD1h80NmCPvA/y6dqXA102d3c8LY57jSmSDsMKeZl5KYYOI/A7vgagA8+gWrbAAAAA==" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAJMtmVX6q/+GBwPDgf8K16sZGcAgwKnNOpUJwvZ1OuaXBGX7OW30T2aCqVniB2P7O6UxpcDZNxcmwvWq5yPUT9j8kBnCPvC/S2cqI8zM4LgkuJoeFoRdzP0IM7euRKg5x5UOVzPzEkJ824VEuPjLPoQ5E5yT4e45tS4JbiYADeVuTPwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEABP+Nbn0V/8NDwaGA/9Xc0oxMQBBTbqWY+CKFDB77zQtx++eCWC2/Bwtx5330sHsD51ajhfC48FsKaCarwvTwGy9WVqOf/pSweyqRVqOL14uYmUAgwP/Ax4ZgcVls7QcN/9KBrNt1mg56r2DmH/MWsuxrCsDzN42WdOxfkoimL36q4ajAdQ9SY6ajqEvIOIs5ZqOKfZJYHZfo6ajdghEzf4STUeFzRAzHXM1HQEKoS8X5AAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEABP+Nbn0V/8NDwaGA/9Xc0oxMQDBA6mVDoErUsDsuD0rHL57JoDZszaucNh5Lx3M/nF1hcOF8Hgwe8neFQ5fF6aB2TVbVzj86UsFs58sWeHw4uUiVgYwOPA/4JERWHye6EqHzb+SweyEiSsc9N5BzPcpWulQ1pUBZuccWuVQPyURzG76t9rBAOoekfTVDqEvIOIXfq9ySLFPArP3PFvloB0CURPFsNpBYTPEzDD+1Q4AxwsMxeQAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEABP+Nbn0V/8NDwaGA/9Xc0oxMQBBynIWp8AVKWC2QyyL03fPBDD7fAiL08576WB2WCGL04XweDDbKY7F6evCNDD7VjiL05++VDD7uheL04uXi1gZwODA/4BHRmBxl8UsTpt/JYPZHdYsTnrvIOb/eM3iVNaVAWYv+czqVD8lEcye/prNyQDqnnMlbE6hLyDiKxXYnFLsk8BsBQE2J+0QiBoLFTYnhc0QM3/pszkBAPjAG3LkAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9XN09gZIACdpvtAjB29OOzzBDWgf/7/6yAq/l+6r44jA0AsXS9CUgAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9XN09gZIACdpvtAjB29OOzzBDWgf/7/6yAq/l+6r44jA0AsXS9CUgAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9XN09gZACCe/pCjm3WqUwgtlfHb4djfklgts6vRw4b/ZPB7FvZso5L/CDsrNUPHNKYUsDsWTY6jjcXJoLZf+T8HdXzIWqYV2k6Rj8+y8wABgf+7/+zAmzX7H8OjsFxEPP9w7Ide1gg7Cc9DY7M/RAzbW/scNy6EiLe+HWJ4zmudDC7S3ON48xLEPHwaDPHbRcg9haGMDi+7IOI85XqO05whrjhQb6t46l1EPEp59Y5AgDIcGsE/AAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9XN09gZACCS9H+jm3WqUwg9rn3Vo7H/JLA7N5Veo4b/ZPBbGHfKMclfhB2TKuuYxpTCpi9ojrD8ebCRDDbL7/VUT0foubVo1TH6MdnmRnA4MD//X9WgO0qu1bnGBwHMX+SyBTHHhYI26BtviNzP8TMLfuuO25dCRH/2HXY8RxXOpid2nHKceYliPiCX4WO2y5A7J02y9bxZR9EvE8+x3GCM8QN2xiqHU+tg4g/qjrrCAC+pIYx/AAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9XN09gZACCBoUG1zbrVCYQWx7Iln6rwQ5jpzGlgMUVgOybCxPhbPX8ZLj66MdnmRnA4MD//X9WgM2sA4oHxyXB1fRPPsYCY29dmQQ35xxXOlzNzEsI9dsuIOx62YcQj/p0FG4OAJ3Y68TMAAAA" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf9h7n2MDEDQoNDg+s05lQnElgeyMx9osMPYqYwpYHEFIJv7YCKcvSUgGa4+LuQCMwMYHPh/f/kysJl1Lxpc/2QlwdUczDrGAmOfW5kEN2cJVzpcTcNnhPp/fxF2nYxFiOf+OQo3BwApnqbczAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf+PX3QzMgBBg0KDa094KhOIrfCiwfWqShKYLQ8U3736GAuMXfMnGaIGyP6yNhHOPhWcDFf/7/AlZgYwOPCfxWcJ2Pw6oLhsLcLMuEyEmcKtSXBzOjjT4WqecCPM1DqJsEt2NsKc/ttH4eYAAL4/IFXYAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf/3KjoZGYCg4UWD6826VCYQW16hwXXlXg12GJvvRTJYXAHIljydCGcfNU2Gq7/Le5WZAQwO/JdRWQQ2sw4ofrwqCa7mVMExFhj7UUsS3JyZj9Pgaj5oIsxcfh1h185shDlS947CzQEAElPRrswAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf8q4u2MDEDQoNDgGpOXygRiywPZz29rsMPYXKeTweIKQLbOp0Q4O5Q7Ga7evOk6MwMYHPhfsmc+2Mw6oHheYRJcjUTRMRYYu7Y5CW7Ofs50uJpqRYSZsy8i7DqXgDCn8flRuDkA17M4qMwAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAMuY3lr6q/+GBwPDgf8Gu1sYGYCgQaHB1TcylQnElgeyvV5psMPY+aeSweIKQHY2dxKc7fswCa7e+ttNZgYwOPCfI3Au2Mw6oLhUO0JNRdgxFhj740qEObufpMHVNLknw9mtRxPhargzEObIvToKNwcAHB6PDMwAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP/ttyYwMgDBcYYTTm3WqUwgtgGQfcwvCcw2BLI3+ieD2UZA9hK/ZLga+yVHWWBs9fxkuHrfPWeZGcDgwP+zyivB5h8FigfHJcH19k8+Bte7dWUS3PxzXOlwNf6Lj8DVvOxDuGeCM8INp9YhzAQAwoBhe9gAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcBA1SnVIpUJwpZwMlJOgrJ5nFyfJkPZgk7b7sDExZwizsHEBZwW8sDEFZzUnFKgbD6naLbbzBD2gf/ykrMZYWo2FSLMYTmdCGXLOT3phem1clpaD2NbON3mT4WzLfNg9oo45ZYlwu1yaYKZKe6k7wZTI+1kvgkmruIEABpeqsL8AAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcBAzCnVIpUJwuZ1MlJOgrJZnFyfJkPZbE7b7sDEmZ0izsHEOZwW8sDEeZzUnFKgbFanaLbbzBD2gf/ykrOhdgk6bSpMgtvFcjoRyhZ1etIL0yvmtLQexpZwus0Pc5uck2UezF4+p9yyRLg7XZqS4O7Rd4Op4XIy3wQTF3cCAIe7VN38AAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcCA1ynVIpUJwuZ0MlJOgrI5nB4cSoayuZ2k/8PE2Z0iziHEF/LAxHmc1JxS4Hqj2W4zQ9gH/stLzobaxe+0qRCmnt+J5XQilC3j9KQXplfVaWk9jK3sdJsf5jZNJ8u8ZLhduWWJcLtcmhBu0HdDqDHfBBOXcgIA901xFfwAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcBAyCnVIpUJwuZ2MlJOgrI5nB4cSoayBZyk/8PEeZwiziHEF/LAxMWc1JxS4Gqi2W4zQ9gH/stLzobaJeW0qRCmXtSJ5XQilC3p9KQXplfVaWl9ClzNbX6Y29SdLPOS4e7MLUuEs12aEGbqu8HUCDmZb4KJKzoBALFggoD8AAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcCA2ynVIpUJwuZwMlJOgrLZnB4cSoayeZyk/yPEI87BxNmdFvLAxKWd1JxS4Gqi2W4zQ9gH/stLzmaEmbOpEKZewInldCITzA1PemF6+Z2W1sPYsk63+WFuk3KyzIPZy+WUW5YIt8ulKQkuru+GUGO+CSYu4wQA4gpjYPwAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcBA0CnVIpUJwhZ2MlJOgrJ5nB4cSoay+Z2k/8PEuZwizsHE+ZwW8sDExZ3UnFLg4tFst5kh7AP/ZT/Ogtol5LRlJky9iBPL6UQmmBue9ML0KjgtrYexJZxu88PcJupk5g6zl9epYG4inO3SlAR3p74bTI2kk/kmmLiSEwCq4vxL/AAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGsraC391X/Dg4HhwP//E5sYGcBA1inVIpUJwuZyMlJOgrLZnR4cSoay+Z2k/8PEhZ0izsHEeZwW8sDEBZ3UnFKgbA6naLbbzBD2gf+yH2dB7RJ32jITpl7AieV0IpTN6/SkF6ZX2mlpPYwt5nSbH+Y2cSczd5i9nE4FcxPhbJemJLh79N2S4X4x3wQTl3ECAE7+pMr8AAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAOM8XV/6q/+GBwPDgf815h2MDECQ66bmmGqRygRiH+VjdjRSTgKzGRiqHB4cSgazu+4yOUr/h4o3dDpEnIOI+7257LCQB6bew1HNKQXMLluk6Dj/4DVmiPiB/zdN54PtmqAh6rhlJlT9gShHltOJEPaDI45PeiF6k67rOy2th7DfLLnpeJsf4rYbO82dzNyTYW5zLJgL1dtwxcGlCea2tw76bslw95hvgopfYHECAJxFomL8AAAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAOM8XV/6q/+GBwPDgf815h2MDECg9nChQ6pFKhOIfYPzuIORchKYzcBwwuHBoWQwW72M31H6P0z8oUPEOaj4NxPHhTxQ8Ya3DmpOKWC23xomx/kHrzFD1B/4f9N0PtiuN3ybHLbMhKp/MMmR5XQihH3gluOTXohekWpLp6X1EPaNzJeOt/khbpvXweVk5p4MVV/sWDAXqrdht4NLE9RMBz9HfTeoGoZER/NNMPHnjgDd8RK4/AAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAOM8XV/6q/+GBwPDgf815h2MDECguETHMdUilQnE3ijM72iknARmMzCIOT44lAwRn5zmKP0fKn5AwzHiHERcZHew40IeqLhDuqOaUwqYPe9Gq+P8g9eYIeYc+H/TdD7YLgtpZsctM2HmT3NkOZ0IYSdcdHzSC9Fb9knRaWk9hH1D87HjbX6I296wPHY0c4fYy9CQ61gwF6r3AL+jSxPMbVGO+m5QNQt6HM03QcUDBJ0A1xfmDvwAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOM8XV/6q/+GBwPDgf815h2MDEBg/bXCMdUilQnE7rrL5GiknARmMzDoOz44lAxmv2lxd5T+DxVv6HSIOAcR3ygc5biQB6FezSkFzPZbI+04/+A1Zoj4gf83TeeD7cpczum4ZSZU/YIeR5bTiRB2wnzHJ70QvW9UrjsurYewRXZfdrzND3FbUvoBRzN3iL0MB4odC+ZC9TZwOro0Qc08EOWo7wZV05DraL4JKn6BxQkA3dv3LPwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAHtWU1/6q/+GBwPDgf/zWzsYGYBAdutkx1SLVCYQ+w0Lp6ORchKYzcAg5vjgUDJE/Iivo/R/mPhDh4hzEPGuu/WOC3mg4g5zHNWcUiDqW+oc5x+8xgxRf+D/TdP5YLvm8Jg4bpkJM2e9I8vpRAj7wRHHJ70QvV22zxyX1sPMWed4mx/qtiUHHM3cIfYyJLQ5FsyF6nVgdnRpgrkh3VHfDarGodnRfBNU/IG2EwAeGGGg/AAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHtWU1/6q/+GBwPDgf/zWzsYGYCgJo7NKdUilQnEvsF53MFIOQnMZmBY7/DgUDKY3TXX3VH6P1S8odMh4hxUPDbKcSEPTHyRo5pTCpgtUu3rOP/gNWaIOQf+3zSdD7ZLU0/HactMqPqEV44spxPhep/0QvRaX9ziuLQewu6qPeJ4mx/iNhHrdY5m7hB7GQ44OhbMhenldHRpgrkhxFHfDapmQY+j+Sao+AUWJwA6Ow1B/AAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHtWU1/6q/+GBwPDgf/zWzsYGYDgiEeVY6pFKhOI/Yrlu4ORchKYvWrVR4cHh5LB7NPfLRyl/0PE//w/7hBxDiIeU+fmuJAHIh4qmuyo5pQCZvN9cnacf/AaMwMYHPh/03Q+2K5Qz1THLTMh6hkS5juynE6EsBfsc3zSC9GrkMrttLQewubQvOR4mx/iNpOKd45m7hB7Q6fmOxbMhepl+OXg0gR1M5eno74bRM2qV+WO5psg4qu7uJwA01MnOvwAAAA=" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="H4sIAAAAAAAEAFsm7lH6q/+GBwPDgf972yOYGIDga9wvl3OrkuHsBTcTwWwVhl8uDg1pcPGdLBDxXv1fLux7UuBsj1mpcPV3ZOtZGcDgwP+Ht8Pg4nOWJ8PVT96GMMdTNAPMrir66dLxCCI+e+FPF45oiPk9QDXvHiLE1yUmwc0MkEiB6937OgGuBgB9Xwqf5AAAAA==" />
    <add key="/lpc/it8688e/fan/3/values" value="H4sIAAAAAAAEAFsm7lH6q/+GBwPDgf972yOYGIDA+Mk3l3OrksHsTM0fLgtuJoLZV399d3FoSAOzE/O/u+xkgYg7nfnuwr4nBcw+5/DdxWNWKlzNHdl6VgYwOPD/4e0wuPic5RDzO4B6J2+DmNMo9N3FUzQDzP4y97tLx6NEOJsjOgWu991DiPh6oPi6xCS4GwIkIGpEHL+77H2dAFcPANyXWtLkAAAA" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAFsm7lH6q/+GBwPDgf972yOYGIDA+OZSl3OrksFsdyB7wc1EMFv03VIXh4Y0MFsOKL6TBSIuC2Sz70kBsxmAajxmpYLZy3SWudyRrWcFiwPNf3g7DCz+sWCpy5zlEPN7Zi11mbwNYs4R8WUunqIZYLb1kaUuHY8g4hYxS104oiHmbwOy3z2EiEeuX+qyLjEJzJ4BZAdIQNSwFS512fs6AcyOAboNAAXqG0bkAAAA" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAFsm7lH6q/+GBwPDgf972yOYGIDglTm767lVyWB24RM21wU3E8Hs5GB2V4eGNDB7HlB8JwtEXPUkmyv7nhQwOwmo12NWKpi9R5rd9Y5sPSsDGBz4//B2GFx8znKI+a4M7K6Tt0HMKQSyPUUzwGwzoF0djyDiKUA2R3QKXO+7hxDxHyfYXNclJoHZ9WvZXAMkIGpcZdhd975OALPvdLG7AgDIxZPD5AAAAA==" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgCCpQ/mu5xblQxmB5yd77LgZiKYXca+wMWhIQ3Mzlk232UnC0Q8YPJ8F/Y9KWD2JKBej1mpYPavnfNd7sjWszKAwYH/D2+HgcWTIue7zFkOMZ/Xbb7L5G0Qc64A1XuKZoDZWkAzOx5BxH/Vz3fhiIaanzPf5d1DiLgtUM26xCS43gAJqBqg2/a+ToC7DQDpDe845AAAAA==" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYoAAp23x4Xww9h3ZelYI88D/h7fD4Go2/qgRhbEBtDHxVkgAAAA=" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgADDqdt8eF8MPYd2XpWCPvA/4e3w+BqNv6oEYWxARKFvuBIAAAA" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgADHqdzq5Lh7AU3E6FsbieHhjS4OEe0NjuMfUe2nhXCPvD/4e0wuBr9uKMsMLanaAbcnI5HiXA1Gxe95YaxAdbjEFKQAAAA" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgCDB47nViVD2WccF9xMhLJPOTo0pEHZdxx3siDE2fekwMU9ZqXC2Ve/17FC2Af+v2AMh4vPWQ4z/57j5G0wc/45eopmQNkiTh2PYOI8ThzRMPN5nd49hImfc1yXmARl33AMkEiBs/e+ToCyrzgCACHh1ufkAAAA" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgADAadt8eF8MPbV73WsEPaB/y8Yw+FqNv6oEYWxAQpVa2FIAAAA" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEAJv6wb30V/8NDwaGA//PrYtgYgCDD47b4sP5YOyr3+tYIewD/18whsPVbPxRIwpjAwBpJfPsSAAAAA==" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQBB8wEvh23x4Xww9tXvdawMYHDg/wvGcLiajT9qRGFsAAjBaOBIAAAA" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQBBd064w7lVyWC2HVe4w4KbiXC2Q0MamH3zXLjDThaIeA9QPfueFLgaj1mpcDVXv9exMoDBgf8vGMPh4vpxR1lgbE/RDLC4umGEQ8ejRLgajugUuPnvHiLE1yUmwcUDJFLgbt77OgEuDgDYToIP2AAAAA==" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQBBTP8m+3OrksHsVR832S+4mQhm8+lusndoSIOrOXDgKAuM7TErFa7+6vc6VgYwOPD/BWM4WPxH8Gb7OcsRZk7elgg3x1M0Ay4+wfYYC4z97iFCzb/KY3C79r5OgKsHAL6qbm/AAAAA" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQBB49TF9udWJYPZWXuW2C+4mQhm75Bbau/QkAZmy0Ytsd/JghBn35MCF/eYlQpmn/++2P7q9zpWBjA48P8FYzhczZzlEPPPAdVM3pYIV+8pmgFX0/EIIi4DZHNEI8x/9xChfl1iEpidDXRngEQKXHzv6wQwm61xqT0AcZlVC+QAAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQBBTD+Tw7lVyWB28wEmhwU3E+HiDg1pcPGdLAhx9j0pYPZFJWYHj1mpcPGr3+tYGcDgwP8XjOFw8TnLEeZP3gYxZ9VHJgdP0Qy4eMcjhPkc0Slw8TnOR1hg7ACJFLjeva8T4GoASdGI6NgAAAA=" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQDBwVOMDtviw/lg7FXn61gZwODAf2GtcLiajT9qRGFsAEYQ3wRIAAAA" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQDBj2Bmh23x4Xww9qrzdawMYHDgv7BWOFyNftxRFhjbUzQDLH5Ridmh41EiXM3GRW+5YWwA8xTBW2wAAAA=" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAOs/4V76q/+GBwPDgf9XrkUwMQCB6Dp3+3OrksFsPt0m+wU3E8HsCYdK7R0a0sBsxQ1F9jtZIOIeD6Ps2fekgNmWWzLsPWalgtlFGY32q87XsTKAwYH/wlrhYPEVx7rt5yyHmJ+WlmY/eRvEHFW2RntP0Qwwe/PcfvuORxDxV2oT7TmiU+Di7x5CxJ0SXO3XJSaB2UsLau0DJFLgbt77OgHMniKRYg8AI8xHuOQAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>