<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/4/plot" value="false" />
    <add key="/atigpu/0/temperature/5/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/2/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/voltage/1/plot" value="false" />
    <add key="/atigpu/0/voltage/2/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/load/1/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="716" />
    <add key="mainForm.Location.Y" value="185" />
    <add key="mainForm.Width" value="910" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/lpc/it8688e/fan/3/plot" value="false" />
    <add key="/lpc/it8688e/fan/4/plot" value="false" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="186" />
    <add key="plotForm.Location.Y" value="442" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="gadgetMenuItem" value="false" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/atigpu/0/expanded" value="false" />
    <add key="/atigpu/0/voltage/expanded" value="false" />
    <add key="/atigpu/0/clock/expanded" value="false" />
    <add key="/atigpu/0/temperature/expanded" value="false" />
    <add key="/atigpu/0/load/expanded" value="false" />
    <add key="/atigpu/0/fan/expanded" value="false" />
    <add key="/atigpu/0/control/expanded" value="false" />
    <add key="/atigpu/0/power/expanded" value="false" />
    <add key="/hdd/4/expanded" value="false" />
    <add key="/hdd/3/expanded" value="false" />
    <add key="/hdd/2/expanded" value="false" />
    <add key="/hdd/1/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="/ram/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="false" />
    <add key="/lpc/it8688e/expanded" value="true" />
    <add key="/mainboard/expanded" value="true" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAJv4s1bXOPKGB0PDXutTLqvjJjKAwIH/AOTaiOAYAAAA" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEAJv4s1bXOPKGBwMDg9Mlo4VxExlA4MB/AEUUkAcYAAAA" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAPtiHqZrHHnDg4GB2Wn7sdlxExlA4MB/AKHQa1YYAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAHPo0NM1jrzhsXLhVqc3v6bGTWQAgQP/Abr+OJcYAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAHPo0NM1jrzhwcDwwfHe5alxExlA4MB/ALufKwMYAAAA" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/load/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMDvZtPSlMDGDQYHdgfzKUzcCQ5PaaG8bOUIaL2++XTYKredKfANcbYIfQ6351nwCMLfEgGa7mDGMWXI35Vh15GNt3BbPLRDDrwP+yggpGiOgCewAO1sWLqAAAAA==" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMD+zbelKYGMDAwf7A/mQom4Ehye01N4ydoQwXt98vmwRX86Q/AcpucAiwQ+gVF/4M11sXnwo3f1NSGlyNxAOY+ga7M4xZcHHzrTryMLbvCmaXiWDWgf9lBRWMENED9gBBKxB+wAAAAA==" />
    <add key="/atigpu/0/voltage/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHmfP+Nin8n3zYwACENt3BbPLRBCH4cD/soIKRpg4ADvPh5gwAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHrNmRtqn8n3zYwACENt3BbPLRBCH4cD/soIKRpg4AMy86S8wAAAA" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMHvZtPSlMDEDACGQf2J8MZqenudkv1EwCs0FqzCcmwsVX2CPYtpsRapbOQOi9sfOuNYz99CDCfN8VzC4TweoP/C8rqGAEsWbN9LQHADDwYESQAAAA" />
    <add key="/atigpu/0/clock/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwNlc5tPSlMDCDQYOh8YH8yhM3w32mhZhKULepsPjERyj7qtMIexj7pZLsZpua109IZML0nnDKUYey/Tvtlk+B6n/QnQNgOgc4BdlA1DeedTNShahouOR3sh5rfcN0pewPMnEdOT17BzDnndPlABlTNCae6+FQo29t5U1IahH2A3VniAVSvg4zzGcYsqN6LTgfjYXrvOO0Igrqn4aTTmxk5UPYhJ/GHMHsPOdlWpsHFUz5mwv147SZM/IyT5OlUuPn516DhyXDcid0tHarmuNOTPbBwu+D05m4yPEyeHoSqPyDq7LuC2WUihPO/rKCCEaIm1BkAY4+0CrABAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwHbrmk8n3zYwABINt3BbPLRAjnf1lBBSNMHACk21nEMAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwNri5tPSlMDCAAZB/YnwxhH3B1WaiZBGFvcHUxn5gIF19hD2UvcHWx3ZwEF186A6E3QzkZrne/LELNk/4ECHuCq0uAHUK9iTpUzQVXl4P9iXC92RsQap68Qphz+UAGXE1dfCrcPZuS0uBqJB4kw8XPMGbBxSs3nWCBsd/MyIGbI/4QYZdtZRpcPOVjJlz82k2E+ZKnU+Fq8q+lwMXZ3dIRbt6D8MvF+VB7gWzfFcwuEyGK/pcVVDCCmQxCTgA5VM2zmAEAAA==" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMWxzbelKYGMBgk+OB/clQ9gbHJLfX3DB2hnIyXM1+2SS4mif9CVD2FscAO4ReceHPcL118alwvZuS0uBqJB4gzDzDmAUXr9GZyQlj21bC1K9zTPmYCWWvcbx2E2GOi0sMH4ztu4LZZSKYfeB/WUEFI8xtACBRrwXwAAAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMNk5uPidYGMDAxmmhZhIThG3rZD4xkQkm/vTTYbiapTOS4WoylJPhavbLwvRaOz3pT4CLB9gh1JioI8w/2J8IZ2dvQKh5njudE8aWeICw6wxjFlxNqrcpO4wt/jAZbq9tZRpcTcrHTLjeazcR4h0LT8H9wu6WjnDzHoR/39xFmPn0YApc3HcFs8tEMPvA/7KCCkaIuIsTAEFLMOpQAQAA" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/temperature/4/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMCk6pfN/8GMBAwcl3BbPLRDD7wP+yggpGiLiKEwBQdvzKMAAAAA==" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMAU5tPSlMDGDg53RgfzKU7eN0Y9dhFhh7hX0iVDzAyXZzElz90hnJcHaGMkLv4rWH4HoD7BBqTNST4OYc7E+Ei2dvSIaLP3mFUHP5QAbczLr4VLj6TUlpcLbEA4Te3sRLLDD2jqAEuJo3M3LgbPGHCHfaVqbB9aZ8zISzr91EmC95OhUunn8tBc5md0uHsr2cnuxB+OXNXYR7nh5EhK3vCmaXiWD2gf9lBRWMMDUAep9e4YwBAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMNk5uPidYGMDAxmmhZhIThG3rZD4xkQkm/vTTYbiapTOS4WoylJPhavbLwvRaOz3pT4CLB9gh1JioI8w/2J8IZ2dvQKh5njudE8aWeICw6wxjFlxNqrcpO4wt/jAZbq9tZRpcTcrHTLjeazcR4h0LT8H9wu6WjnDzHoR/39xFmPn0YApc3LqR2WUimH3gf8f0CkaIuIsTAKdM8cdQAQAA" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/factor/0/plot" value="false" />
    <add key="/hdd/0/level/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAAtjYDme03fDg4HhwH8AKmalUgwAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHkUKDa5tPSlMDEAgDmQf2J8MZosB2e/ZkuDsl5sT4WpW2CPYaycg1JjuToaLZyhDzXnR4FrwC6oeyDbenABXs2FpFyeM/eQVwpyWeBN2GHs6M8JtZxiz4GoOxmfAxXcEJcDNfzMjBy4u/hDhF9egNLiaGIksuJprN9PgbMnTqXD1+ddS4Gx2t3S43id7EuH+enM3GS7+9CBCffn1t84TQRyGA/99HPsYQaw6oDgAtzVoHXQBAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPvSM/OHUeQNjyKFBte0ghQmBiAQB7InX00Gs8WAbEbeJDjbdU0iXE2LFYL9thahxvpkMlxcSg9hjtQ3hPooCTV2GFtiGlT8RYNr3xKE3qnfEGZu35MBV3PIOhUuHpeWBmcvY0a4n+lXJkR8Q6NrXVoGXNy9PAFuzvSsHLj47BMId/4JToOLb7bMgrN7DqbB9b5+hHCD3JkUOLvGLh2uPudEIlxc7zTCX4V3EOrnqH1wngjiMBz4H/G9mxHEqgOKAwB+NQcfmAEAAA==" />
    <add key="/hdd/0/factor/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEANvJeeFYTt8NDwaGA/+Ztv5iZAACD6cZTkemJzGB2Mo3pzsl5EHYNdOnO1m1J4PZQqXTnTzvQMSX7prmJKoPYb9PmOYU9ArCrt07zemTbyKY/freNKfcyRC9P4ynO71Lh4g3ZcxwunYaIs7WNcupiQMifvboLCf3HIg5Rk2znAD5eyWiqAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANvJeeFYTt8NDwaGA/+Ztv5iZACCDpkDDkemJzGB2Pem73dIyIOwOVz3O1i1J4PZcyT3O3jegYin6O1zENWHsI327nUIegVh/zLc5/DJNxHM1ojZ55A7GaK34vg+h3fpEPEjPgccrp2GiAv8PeTQxAERr/E47OCeAzHH4PMhBwA/K2TTqAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEANtkeOFYTt8NDwaGA/85e38xMgDBgk8f7I9MT2ICsT1YP9sn5EHYCwK+2Fu1J4PZAf++2HvegYgbrP5hL6oPYf/I/2Uf9ArCvjHnh/0n30QwW+HLd/vcyRC9D9y+2b9Lh4hvMPxgf+00RLyh4Kl9EwdE/ILTE3v3HIg5DDOe2gMA8SCN+6gAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJPR3H4sp++GBwPDgf/8/pWMDEDwb/1hx/q6JCYQm+GBi6PtmUQwe1PMYYcqqRQwu1a220HoM0RNV+53h5NnksFs281LHfhsIepT3gU5crVDxOc+CHJsDIKIK1qvcGSrgYgz/LjpuCkaIi4iesLROxciLlDb7bj2O0R8i6+vIwBkxN9hqAAAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODjJN4YwoTAxjwOxXtT4ayOZw26CRB2YJOK9sToWxWJ98CGJvN6VsSTA27k+oamF4+J5sNCHP6p8PUszgF+SVA2dJOuxbB1HA6sQUlwdUciUCoPzsfYeYL/mS4ePDTDDj76xuY+3mc3jemwd2W8SkZLr5aJgvOjhKG6RVwiuhMgJtzf30OnM17MRluznajNLjftwdkwcX9lqXB1dd/SIWzj39Mgfsrmy0dymZ20nqI8JfvrmS4GyQvIdw/l+WP80Qw+8D/rWYNjBBxTScARi6sCbABAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODkJN4YwoTAxj8cyzanwxl/3LcoJMEZTM4rWxPhLK/OfoWINjfkpLg6lXXJMPFbTYkw/X2T4ep/+EY5JcAZbM47VqUDBdnC0qCs49EJMLNPDsfYeYLfhj7i2Pw0ww4++ubFLia941pcHbGJ5h6RqfVMllQNptTlHAG3K6ITph7PjneX58DN5P3IsJt243SEOyALLh6v2VpcHb9h1S4muMfU+Duz2ZLh7I/OGo9TISr992FCGfJSwj1c1n+OE8Esw/832rWwAgRl3ECAOsp8a2wAQAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEADvTvuNYTt8NDwaGA//jP5QzMgCBxHpWp/q6JCYQm+FBrKPtmUQw+3TRc4cqqRQw+83Xgw5CnyFqktSFHE+eSYaoZzjhwGcLUc+wINyRqx0q7pDu2BgEEZ+/cIUjWw1UvOGK46ZoiPgbyxOO3rkQ8ajdPY5rv0PEt9WVOQIAAC0wKKgAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADvTvuNYTt8NDwaGA//jP5QzMgBBr/IJx/q6JCYQm+GBi6PtmUQIm2G9Q5VUCoTd0Okg9BmiZs4NVseTZ5Lhavhsoeobch252qHiDumOjUEQcb3kRY5sNVBxgfeOm6Jh6nc7eudCxQ/0O679DhVPsHAEAKIF+SaoAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADvTvuNYTt8NDwaGA//jP5QzMgCBzPc2x/q6JCYQmyFB3tH2TCKEfWCFQ5VUCoTdwOkg9BmiZkPwcYeTZ5Ih4g7NDny2EPU2hS6OXO1Q8Qcujo1BEPE7v2c4stXAxI84boqGmu9wztE7Fyq+odFx7XeoeEKgIwBjPSrQqAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADvTvuNYTt8NDwaGA//jP5QzMgCBrPsWx/q6JCYQmyEh0NH2TCKE7XDOoUoqBcqe4yD0GaKmIumZw8kzyWD2r545Dny2EPVBGk6OXO0Q8XIlC8fGIIj4ndd7HNlqIOIMBfcdN0VDxBOizjl650LEn5zod1z7HSIu9cPEEQALOM58qAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//bJVIYGUCgocmpvi6JCcxmqHCyPZMIZVc7VUmlQNm1TkKfYWoanE6eSYar57OFqa9y4mpHiDcGJcLVs9XAxFudNkVDxRuanbxzYeJNTmu/w9TXOwEAzIN/wKgAAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEte3/vDKPKGh54et6N4YwoTAxDMjehwKNqfDGYzHHB03KCTBGEziDmsbE+Esqc5+BbA2L/svyXB1Kx3UF0D1cug72DRCWGL7L7sMHkfRP2Pv+sdgvwSIGocmB1DGmDqT9iL+CbB2TINCPPPzk+Gs1/wJ8Pdk3coA8z2exPrYP8yBSru4dC1Ig3MnndDxCHjE0T9DU5Rx9UyWWB2UDevY5QwRG/Zo3sOEZ1Q9zBUOTxenQNm//8/34HzKkRvl+xbh+1GEDPVy9wctgdAzLHaONnBbxlEvGtugkP9h1SIf61FHXzOQ9xzo3OhwzONdKjeY/ZaDxPh7vfdlQy3V/ISRP3G4ATHNfnfnSdCIuD/vCUtjCBWYma0IwDBBQnMsAEAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEte3/vDKPKGRxiLoqN4YwoTAxCUPTrqULQ/GcxmYBBz2KCTBGVXOaxsT4Syf9n7FsDYJ+y+JcHUrHdQXQPTe8LeohPCVi9zs5+8D6I+ctpv+yC/BIiahrcOIQ0w9R72Ir4wc6bZyzTAzGdgODsfYeYL/mS4eN6hDDD7iJ+Og/1LiPuPnlvn0LUiDcyed8PNIeMTRL1INZPjapksMPtb92H7KOEMqNt0HSI6oe5h0Hd4vDoHzPZ7c8Se8ypEb9dcd4ftRmlwNdsDIOYkqX+z91sGEZ97I96h/kMqPEx8zkPcI2Kt5/BMIx0eDloP4eFm77srGe5fyUspcPMnenx3nghmH/i/83QLI4j18Vy5AwDAzsPBsAEAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//bJVIYGcCgwqm+LokJwi50sj2TCGUXOVVJpUDZJU5Cn5Pg4ifPJEPZBU58tolwvVztMPF8p8YghDlsNTDxBqdN0TDxGifvXJh4ldPa7zDxYicA7MWdG6gAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//bJVIYGcCgyulsbxIThF3s9H5PIpRd6lQllQJllzsJfYapKXE6eSYZyi5y4rNNhItztSfDzWkMQpjzfhFUvKHZ6aQJTLzFyTsXpr7Oae13mHilEwAr19yIqAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//bJVIYGUCgodEpcEISE5jNUOGUvSsRym5wqpJKgbJrnYQ+w9TUOJ08kwxXz2ebCGdztcPEy50ag2DilU7vF8HEW51OmkDFG5qcvHOh4g0NTmu/J8L1AgAhxB/KqAAAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//bJVIYGUCgoclp2qQkJjCbodJJbUcilN3gVCWVAmXXOQl9ToKLnzyTDGVXOPHZwtRXOXG1J8PNaQxCmPN+EVS8oc3ppAlMvM3JOxemvslp7XeYeL0TAPk9x7yoAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgABF+MJp70NSUwg9q//x5307x5lgbEXnIKI/way098fYYGxcy8lg8V/Atl1molwvae7k+HqD0cixFsTk+HsuXcS4WoAu8Wo05AAAAA=" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx4ccBleZ88lMDEDwZx6D68FniWD2FSA7og7CjnrF4PpRKwXMviXD6FrLCBFn2MHgWvg6Ccw+38rgqueD0OuUnwzXa3AhCa5+Fw+EvY6Z0dX/OISte5HB1bMZwc4xR9gbNTkZLp7LAhFvA+rdtTgTbqbdx2Q4e1tUOpitAWSvWZ8LZocA9Xa8TIS7c8HPVLiZwmmpcL3tIllgdiPQXueZiDCRXJUG99fkZ1lw9cxGKXBzbsZmws33WwXxiz9QzUeTNHi4nY5FmPl2VTLcTBVRRBgGztF0ngi24MD/M5dCwOLKdn9cAKyyqWWwAQAA" />
    <add key="/lpc/it8688e/fan/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB9Odzy4y55OZGICAY/1nl4PPEuHsiDoIG6Tmo1YKmG1h9sWllhEifrrxs0vh6yQwuyz5i4ueD0TcjvOLi1M+wkyDC0lwc3bxINj+xyHs/bc/u3g2Q9iWQPNzzBH2Rk1OhrNzWRLhbti1OBPMPrrus4vdx2S4+LaodLj6NetzwewSoNs6XiLcvOBnKly9cFoqXH27SBZc3HlmMtw9kqvS4HZNfgZRUwMUZzZChMnN2Ey4+X6rkuDh8NEEorcKqOZ0bDLcnLerIOw/HF9cVEST4OzAOZrOE0EchgP/z1wKAYtvev3FBQCeog1XsAEAAA==" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx6u3S11kziczMQDBEfFlLgefJcLZEXUQtmj4MpePWilg9h6dZS61jBDxq2HLXApfJ4HZ74Dq9XwQep3yIWZa6y5zMbiQBNe7iwfC3uK4zMX/OIT9DCju2YxQk2MOMWcq0PyoyRBzPgPV57JAxL8zAc1ZnAlhZy9zsfuYDNe7LSod7oY163PB7BNAvR0vIXo3A9kLfqbC7RVOg7CdJZa5tItkgdnzgGqcZ0LMfAS0S3JVGpi9CGjX5GcQNUeB5jMbQcIkcv1Sl5uxEPecAar3WwXxy3Kg+R9NEHpPxyLMfLsKwhZ9t9RFRTQJ7rbAOZrOE0EchgP/z1wKAYufPLPKBQA7ghRIsAEAAA==" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx4soNleZ88lMDEBQyMDuevBZIpg9wZzdNaIOwhYDin/USoGzaxkh4vuAagpfJ8HV6/kg9DrlI8w0uJAEZ+/igbA589ld/Y9DxZ+wuXo2Q9ivpNldc8wh5ojLsLtGTYaY8+MEm2suC0R8HlD9rsWZYHb9WjZXu48QNXuAerdFpcPduWZ9Ltw9HS8heoOA6hf8TIWbI5yWClffLpIFZp8G2uU8MxmuV3JVGtydk59B1BQA2cxGKXB33ozNhLvfbxXEL7vK2Fw/mqTB7TodCzEzOZjd9e2qZLheFVGo34F2Bc7RdJ4I4jAc+H/mUghcLwBkYurdsAEAAA==" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGxwmdhS4y55OZGIBAXXKhy8FniWA2z4QFLhF1EDZIzUetFDB7/8cFLrWMCPHC10lgtjVQr54PRNzw3gIXp3yIme+2LXAxuABRcwmodxcPhF3MutDF/ziEfapmgYtnM4QtD7Q3xxxiznug3qjJEHN8Fy9wyWWBiE84BTRncSaYnbR9gYvdx2S4+LaodDB7JtD8Netz4eZ0vIToPdC/wGXBz1S4+4XTIOxEoPntIllgNtPpBS7OMyFmJgL9JbkqDcwuAaqZ/CwL7kdmI0iYiADV3IzNhJvvtyoJHp4fTSB624F6T8cmw8Ph7SoIOxzoXxVRiHomoF8C52g6T2QAm/T/zKUQsPi5E3NdABYewZawAQAA" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDD0frTZ/8GMDgh6NrqabzRDD7wP8bP0OYIOIMTgCMlrHFMAAAAA==" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5PM+WQmBjBgdTr4LBHKZnOKqIOxWZxquBaawNiTn2VBxZmdmI1S4Gq+REXzwdiupZrOE8HsA/9v/AyBquFwAgD3Lrq+eAAAAA==" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5P1pk9+DGDA4eRaquk8Ecw+8P/GzxAmmDgAdI1CwjAAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDLUeZ88lMDGBwwPHgs0Qo+5BjRB2Mvc/xo1YKlL3DsZYRIV74OgnO1vNJhKtxyoeZucvR4AJMzTHHXTww9h5H/+NJcPWezQhzcswT4XqjJifD1eSyIMzftTgTbqbdR4T7t0Wlw81fsz4XLt7xMhHOXvAzFW6+cFoq3Mx2kSy4uPPMZHg4SK5Kg6uZ/CwLzmY2SoG7+WZsJly93yqEvz6awPRuczwdiwiTt6sQ/lIRRYSPa6mm80SIO//f+BkCFb/iCAC3hfvpsAEAAA==" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5OpiTo7AxhwOH3USmGCsDmdahkTmWDiguVdnDD2Lp4kuBr/40lwNTVBHQg1izPhauw+JsPVbItKh7PXrM+Fq+l4mQhnL/iZCldzV9gY7jbJVWlwNZOfZcHVMBulwNk3YxH2+q1CuG3PpJMsMPbbVclwNSqiMDVcTq6lms4TwewD/2/8DIGK8zgBAIovSnIsAQAA" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDB0frTZ/8GMDgg6NrqabzRDD7wP8bP0OYYOIAofFMqjAAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR/MBLwfrTZ/8GIAAxHbw1XSeCOIwHPh/VzGUCSYOAIB3BMUwAAAA" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAJPdp/7TKPKGh7phhIPM+WQmBiC4eS7c4eCzRDDbjivcIaIOwu7JCXf4qJUCZncD2bWMCDWFr5PgavR8EOJO+clwcYMLEDUaQLt28UDYt4B2+R9H6PVsRrBzzBHmHJ9+hAXG3rU4E67G7mMy3JxtUelw9WvW58LVdLxEuH/Bz1S4GuG0VLh4u0gW3BznmYhwkFyVBmdPfpYFV89sBAkHULjdjEW4x29VElz9RxOE3tOxyXB7365CmK8imgQXd/DVdJ4I4jAc+H9XMRRuPgBrjTwupAEAAA==" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB5/uJnuZ88lMDEAQ07/J/uCzRDB71cdN9hF1EDZIzUetFDD7R/Bm+1rGRLj6wtdJcLaeD0KvU34yXK/BhSS43l08CPX+xxFsz2aEmhxzhDlRkxHm5LIgxHctzoSrt/uYDBffFpUON/PKJFN2GFs4LRVuTrtIFlyv80yE3yVXpcHNmfwsC85mNkqB670ZmwkX91uFcP+eSSdZYOy3qxDuURFNgrMdfDWdJ4I4DAf+31UMhZsJACfkbQqMAQAA" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR/aeJfYy55OZGIDg/PfF9gefJYLZO+SW2kfUQdhsjUvtP2qlwMVrGSHiMlFL7AtfJ4HZIHP0fCDiskBxp3yImY1TF9sbXEiCi3NeOcICY3s2I/TmmCP0Rk1G6M1lQYjvWpwJd4Pdx2S4+LaodDh7zfpcuF86XiL0LviZCtcrnJYKV9MukgV3g/PMZLh/JVelwdVMfpYFN+dO/1m4+/1WJcHVfDRJg5tzOhYRnm9XIdypIpoEd4ODr6bzRBCH4cD/u4qhcL0AnplqDpgBAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR0w/k4PM+WQmBiAAsQ8+SwSzV31kcoioQ7A/aqXA1dQyIsQLXyfBxfV8IOIXlZgdnPKT4WoMLkDUNB9gctjFg2D7H0+Cq/FsRpiTY44wJ2oywpxcFoT4rsWZcHPsPiLUJHFdZYGxO14mwtUs+JkKZwunpcLtahfJgrOdZybD1UiuSoObOflZFlz8Tv9ZFhjbbxXCzR9N0uBqTscizHm7ChG2KqJJcPc7+Go6TwRxGA78v6sYClcDAE3asHSYAQAA" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx8FTjA7Wmz75MQABiO3gq+k8EcRhOPD/rmIoE0wcANFSt90wAAAA" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx49gZgfDyRM1GIAAxN4Wlc4EYl9UYnZYsz6XCSY+PeSYDIz9dlUyXI2KaBJcjYOvpvNEEIfhwP+7iqFwcQCr1R7FbAAAAA==" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB5N2u73M+WQmBiBoOeBlf/BZIpi96mOTfUQdhH3Zd5L9R60UMPtHcLN9LSNEfIpEi33h6yQwu9a+1V7PByK+7XOsvVN+Mly9wQWIGkYGB/tdPBC2Klujvf9xCDstLc3esxnCnnNkgn2OOcQcsZt99lGTIeZ8WK5mn8sCEb9akWm/a3EmmH1qYaq93UeIGh9zT/ttUelgtlOCq/2a9blgduVLN/uOl4lwNyz4mQpnC6dB2KeB5rSLZIHZ91Tc7J1nQsy8C2RLrkoDs6X0Y+0nP0OoYTZKgepttb8ZC3FPvpCzvd8qiF/07qbYfzSB6A3aEWd/OhZi5rz36fZvVyXD9aqIQtS/+O1p7+Cr6TwRxGE48P+uYihYfD5QPQBJeMeGsAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/+10lMYGYBAOtHC9c7kJCYQ+1d9iOuGrYkQtr2fa6JACpj9Eyi+8C9CTd25ZDD7N5AtapgIZ3NNgoj/mm/nuswfas55f1fhpclwvasdE+Hs6UnJcLtmfkGIAwDKEEYJqAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/9DtqQwMgCB9EZjV4E5SUwg9i95b1fjdYkQ9n9318dSKRC2vZ+rwUuomvoQV+GHyWD2735PVz0+iPrfQPHOdRDxX/PtXH8ZQcX9nV37FybD9cYGJsLZS/Kg4ut9XL/cRIgDAFTwoH2oAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA//nMKUyMgCBzEENV685SUwg9q9+T9dFaxMh7PoQ13CBFDCbmcHDNekaRM1vez9XoS/JEDZQzavfCXC22gmI+A8gu0ITas55f9fX3clw9q1ghPlVJclwduNLqPh/d1cAg9cuWagAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgCBzENt170NSUwg9q98N9f6DYkQ9n931w06KWA2s4Of64JTEDW/+z1dj/9NhrDrQ1wXfEyAsO39XHMvJcPNqdOEmPMbaM7pbqg4UM3hSIj4v/U+rq2JEHG+BHnXuXeg9gLNBADGqf9bqAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgDB9N02jnsbkphA7J2tgo71GxLB7JdbXjps0EkBswtLXjssOAVRo6rxy+H432Qw++PmZw4LPiaA2fE5Uo65lyDiOZZSjnWaEHP+vLZ0PN0NEVfLCnc8HAkRn3DDy7E1ESLesl3Gce4diHiIHbcjAHz1QGioAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgCBrI64496GJCYQe9qxIw71GxLBbOfV6xw26KSA2Ubsmx0WnIKoyV500OH432QwW4xnncOCjwlgtibbd4fcSxDxA4s/O9RpQsyZv1XW8XQ3RHzBdBfHw5EQ8Z2ZVo6tiRDxuDI+x7l3IOJ3Wb84AAA2PdrcqAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgDBWpfL9nsbkphA7A+vJRzqNySC2Q0GK+w36KSA2fP559ovOAVRsyBkrv3xv8lgdokSUPxjApjN/HS1fe4liLhxwjb7Ok2IOV83TLQ/3Q0RP7rwjd3hSIg4W+Y8u9ZEiLju3jq7uXcg4r+LH9sBAAkh4ZWoAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAFsSf+ZYTt8NDwaGA/8/+6UyMgABX4Wh/d6GJCYQ+9fjs3b1GxLB7Ber19ht0EkBs3V8ttotOAVRI2uy2+7432Qwe4/FWrsFHxPA7BVzdexzL0HEN8b52NdpQsyZlR5rf7obIj6Xvcv+cCREPO5zrX1rIkR8vkiw/dw7EPFOpiR7AGY6S9eoAAAA" />
  </appSettings>
</configuration>