<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/4/plot" value="false" />
    <add key="/atigpu/0/temperature/5/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/2/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/voltage/1/plot" value="false" />
    <add key="/atigpu/0/voltage/2/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/load/1/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="716" />
    <add key="mainForm.Location.Y" value="185" />
    <add key="mainForm.Width" value="910" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/lpc/it8688e/fan/3/plot" value="false" />
    <add key="/lpc/it8688e/fan/4/plot" value="false" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="186" />
    <add key="plotForm.Location.Y" value="442" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="gadgetMenuItem" value="false" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="/atigpu/0/expanded" value="false" />
    <add key="/atigpu/0/voltage/expanded" value="false" />
    <add key="/atigpu/0/clock/expanded" value="false" />
    <add key="/atigpu/0/temperature/expanded" value="false" />
    <add key="/atigpu/0/load/expanded" value="false" />
    <add key="/atigpu/0/fan/expanded" value="false" />
    <add key="/atigpu/0/control/expanded" value="false" />
    <add key="/atigpu/0/power/expanded" value="false" />
    <add key="/hdd/4/expanded" value="false" />
    <add key="/hdd/3/expanded" value="false" />
    <add key="/hdd/2/expanded" value="false" />
    <add key="/hdd/1/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="/ram/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/lpc/it8688e/expanded" value="true" />
    <add key="/mainboard/expanded" value="true" />
    <add key="/hdd/4/load/0/values" value="H4sIAAAAAAAEAJv4s1bXOPKGB0PDXutTLqvjJjKAwIH/AOTaiOAYAAAA" />
    <add key="/hdd/3/temperature/0/values" value="H4sIAAAAAAAEAJv4s1bXOPKGBwMDg9Mlo4VxExlA4MB/AEUUkAcYAAAA" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAPtiHqZrHHnDg4GB2Wn7sdlxExlA4MB/AKHQa1YYAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAHPo0NM1jrzhsXLhVqc3v6bGTWQAgQP/Abr+OJcYAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAHPo0NM1jrzhwcDwwfHe5alxExlA4MB/ALufKwMYAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAAt4pKtrHHnDo2rzaqfyKV1xExlA4MB/ALk+wA4YAAAA" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/load/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMDvZtPSlMDGDQYHdgfzKUzcCQ5PaaG8bOUIaL2++XTYKredKfANcbYIfQ6351nwCMLfEgGa7mDGMWXI35Vh15GNt3BbPLRDDrwP+yggpGiOgCewAO1sWLqAAAAA==" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMD+zbelKYGMDAwf7A/mQom4Ehye01N4ydoQwXt98vmwRX86Q/AcpucAiwQ+gVF/4M11sXnwo3f1NSGlyNxAOY+ga7M4xZcHHzrTryMLbvCmaXiWDWgf9lBRWMENED9gBBKxB+wAAAAA==" />
    <add key="/atigpu/0/voltage/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHmfP+Nin8n3zYwACENt3BbPLRBCH4cD/soIKRpg4ADvPh5gwAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHrNmRtqn8n3zYwACENt3BbPLRBCH4cD/soIKRpg4AMy86S8wAAAA" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMHvZtPSlMDEDACGQf2J8MZqenudkv1EwCs0FqzCcmwsVX2CPYtpsRapbOQOi9sfOuNYz99CDCfN8VzC4TweoP/C8rqGAEsWbN9LQHADDwYESQAAAA" />
    <add key="/atigpu/0/clock/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwNlc5tPSlMDCDQYOh8YH8yhM3w32mhZhKULepsPjERyj7qtMIexj7pZLsZpua109IZML0nnDKUYey/Tvtlk+B6n/QnQNgOgc4BdlA1DeedTNShahouOR3sh5rfcN0pewPMnEdOT17BzDnndPlABlTNCae6+FQo29t5U1IahH2A3VniAVSvg4zzGcYsqN6LTgfjYXrvOO0Igrqn4aTTmxk5UPYhJ/GHMHsPOdlWpsHFUz5mwv147SZM/IyT5OlUuPn516DhyXDcid0tHarmuNOTPbBwu+D05m4yPEyeHoSqPyDq7LuC2WUihPO/rKCCEaIm1BkAY4+0CrABAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwHbrmk8n3zYwABINt3BbPLRAjnf1lBBSNMHACk21nEMAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwNri5tPSlMDCAAZB/YnwxhH3B1WaiZBGFvcHUxn5gIF19hD2UvcHWx3ZwEF186A6E3QzkZrne/LELNk/4ECHuCq0uAHUK9iTpUzQVXl4P9iXC92RsQap68Qphz+UAGXE1dfCrcPZuS0uBqJB4kw8XPMGbBxSs3nWCBsd/MyIGbI/4QYZdtZRpcPOVjJlz82k2E+ZKnU+Fq8q+lwMXZ3dIRbt6D8MvF+VB7gWzfFcwuEyGK/pcVVDCCmQxCTgA5VM2zmAEAAA==" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMWxzbelKYGMBgk+OB/clQ9gbHJLfX3DB2hnIyXM1+2SS4mif9CVD2FscAO4ReceHPcL118alwvZuS0uBqJB4gzDzDmAUXr9GZyQlj21bC1K9zTPmYCWWvcbx2E2GOi0sMH4ztu4LZZSKYfeB/WUEFI8xtACBRrwXwAAAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMNk5uPidYGMDAxmmhZhIThG3rZD4xkQkm/vTTYbiapTOS4WoylJPhavbLwvRaOz3pT4CLB9gh1JioI8w/2J8IZ2dvQKh5njudE8aWeICw6wxjFlxNqrcpO4wt/jAZbq9tZRpcTcrHTLjeazcR4h0LT8H9wu6WjnDzHoR/39xFmPn0YApc3HcFs8tEMPvA/7KCCkaIuIsTAEFLMOpQAQAA" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/temperature/4/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCnxXMLtMBLMO/C8rqGCEiQMADgZdPjAAAAA=" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMCk6pfN/8GMBAwcl3BbPLRDD7wP+yggpGiLiKEwBQdvzKMAAAAA==" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMAU5tPSlMDGDg53RgfzKU7eN0Y9dhFhh7hX0iVDzAyXZzElz90hnJcHaGMkLv4rWH4HoD7BBqTNST4OYc7E+Ei2dvSIaLP3mFUHP5QAbczLr4VLj6TUlpcLbEA4Te3sRLLDD2jqAEuJo3M3LgbPGHCHfaVqbB9aZ8zISzr91EmC95OhUunn8tBc5md0uHsr2cnuxB+OXNXYR7nh5EhK3vCmaXiWD2gf9lBRWMMDUAep9e4YwBAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgwMNk5uPidYGMDAxmmhZhIThG3rZD4xkQkm/vTTYbiapTOS4WoylJPhavbLwvRaOz3pT4CLB9gh1JioI8w/2J8IZ2dvQKh5njudE8aWeICw6wxjFlxNqrcpO4wt/jAZbq9tZRpcTcrHTLjeazcR4h0LT8H9wu6WjnDzHoR/39xFmPn0YApc3LqR2WUimH3gf8f0CkaIuIsTAKdM8cdQAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALupbvbTKPKGh9ouJceghclMDEDg9l3JMUc/Ccy+DmTPEkwEs7l+KjmyaKWA2RuA7LMuEPGNQPajHxD1UveUHD9IQ8TZ7ys5WrlAzJz8WslxhjSEvfSKkiPbJYiaEAElx+CNEL0PdJUc+ydA2KsqlBzvZULV1Ck5xnRD9N7pUHLcdycBYuY0JcdjFZlg9pelSo6LjCFu01qm5KgVkg5mlwDZpfdywewTzUqOxtchZr7uVnKMeJUKZsccU3Js8oOw7U8oOa7jzwKzM04rOe7thdjrAfTLx4dpYHb2UyVHnosQNczPlRxfmkHsjXup5GhUC3GP6islR/lUiF++Adm3QiB6nwHD4YkjxEzdd0qO03dD2O/eKzk6VUPUv/mq5MgQlOY8EcRhOPA/erEoWPzcSxNHADQfiv6wAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALupbvbTKPKGR0/pDoeghclMDEDg83u7Q45+Epit9Wu7wyzBRDD7yPftDixaKWB2xbftDmddIOJlQPajHxD1S3R3OHyQhoif0t7hYOUCMXOT0A6HGdIQdp/DDge2SxA1Bid3OgRvhOiV6Nvp0D8Bwm75scPhXiZUzdsdDjHdEL0KN3Y47LuTADFzzw6HYxWZYPaHuTscFhlD3NYCZGuFpEPE5+xwKL2XC2Z7PNrhYHwdYibTpR0OEa9SIWbG7nBo8oOwoyJ3OKzjzwKzOYJ3OOzthdjrAfTLx4dpEL3yOxx4LkLUXJLe4fDSDGKvjPgOB6NaiHv6RHc4yKdC/PJGeIfDrRCIXh5gODxxhJhZx7vDYfpuCPsP5w4Hp2qIeoZ/2x0YgtKcJ4I5B/5HLxYFi9uITXEAAE6PFYawAQAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALupbvbTKPKGx5lNAk5BC5OZGIDgaZCAU45+EpjNBGTPEkwEsxUCBJxYtFLAbBl/AaezLhBxKSD70Q+I+pQqAacP0hDx9xUCTlYuEDMdUgWcZkhD2JadAk5slyBqLPcKOgVvhOi91yfo1D8Bwu6QFHS6lwlRs0xA0CmmG6JXgUHQad+dBDB79isBp2MVmWB21SUBp0XGELepAdlaIelg9qaLAk6l93LBbHEOQSfj6xAzg38LOEW8SgWzF80XcGryg7DXzhFwWsefBWbvmC7gtLcXYm8n0C8fH6aB2S/yBJx4LkLUZOYIOL00g9i7LUPAyagW4p66dAEn+VSIX8zSBJxuhUD07ksRcHriCDFTO1HAafpuCDs7TsDJqRqiniVUwIkhKM15IojDcOB/9GJRsLhi6AtHADbCKuGwAQAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCqL/vXWeCGYd+J8h1ccIEwcA9sAQ/TAAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHgxAkMr3zY8BCqL/vXWeCGYd+J8h1ccIEwcA9sAQ/TAAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHhvqIxzbelKYGIBgF9trhwP7k8HsmUt2ObxnSwKzL3ksdni5ORHMXik3y2GFPYTtX9vqsHYCRE1X9XIH090QvX1/mh0ylCFs7z2zHAp+QdTnPJnrYLw5Acw+L8XmaCcNUVOxvtXBzQtijsGeYoeD/RD1dXzxDtkbIGpMzlQ5PHkFUcOxoNrh8oEMMLulfq1DXXwqmP123g0HY/s0iF62iQ7TmSH+yj3B4HiGMQsi/muVw8F4iN5lD6c57AiCuKfjTr7Dmxk5YPY3hyoH8YcQextOr3RwDYKY6cvW5hAjATFn17smh2s3IeKf3XscJE9D3GBW2uSQfw1ir0DRRAd2t3Qw2+pojsOTPRB/Bb4qdHhzF2K+x/Ruh6cHIepfxjxxiP731nkiiMNw4H+GVB8jiDX9p58jAI/wUlCwAQAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHmptPY5tPSlMDEDw2MjF8cD+ZDA7c7K+43u2JDBb0FLN8eXmRDBbt1zRcYU9hP19urTj2gkQNT9L1RxNd0P0znCWccxQhrD/LlRyLPgFUZ+3R8PReHMCmK0REONoJw1R0xym5ujmBTGn4L2y48F+iPrVK2QcszdA1JQ8VnJ88gqiZlOSouPlAxlgtk+DmWNdfCqYrSrj7GhsnwZmO59Qc5zODPHX7NuBjmcYs8BsLXVdx4PxEL1BAmqOO4Ig7pF6LOv4ZkYOmM2ZKe8o/hBiL4uJnqNrEMTMNX+VHWMkIOY8X6rkeO0mRPxwhZKj5GmIGzTqFR3zr0HsXReh7Mjulg5mP1gu6/hkD8RfzyYqOb65CzG/ZbGi49ODEPVC7xwco/+9dZ4I4jAc+J8h1ccIYhX9b3EEALsAOf6wAQAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHkUKDa5tPSlMDEAgDmQf2J8MZosB2e/ZkuDsl5sT4WpW2CPYaycg1JjuToaLZyhDzXnR4FrwC6oeyDbenABXs2FpFyeM/eQVwpyWeBN2GHs6M8JtZxiz4GoOxmfAxXcEJcDNfzMjBy4u/hDhF9egNLiaGIksuJprN9PgbMnTqXD1+ddS4Gx2t3S43id7EuH+enM3GS7+9CBCffn1t84TQRyGA/99HPsYQaw6oDgAtzVoHXQBAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAPvSM/OHUeQNjyKFBte0ghQmBiAQB7InX00Gs8WAbEbeJDjbdU0iXE2LFYL9thahxvpkMlxcSg9hjtQ3hPooCTV2GFtiGlT8RYNr3xKE3qnfEGZu35MBV3PIOhUuHpeWBmcvY0a4n+lXJkR8Q6NrXVoGXNy9PAFuzvSsHLj47BMId/4JToOLb7bMgrN7DqbB9b5+hHCD3JkUOLvGLh2uPudEIlxc7zTCX4V3EOrnqH1wngjiMBz4H/G9mxHEqgOKAwB+NQcfmAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEALPRmv7DKPKGR5FCg2t0cwoTAxCIA9l1h5LBbDEgu0wxCc7uXpAIV3PDDMFekANVs6HR9eIxiF7xFw2uMc4Icy69Rqg/35MAZ0d5I9QHOyfBxS2WJcLFs+Ymw8Ud3yLcY/j6LAuMfbQiDa7+yg+EejeOLLj6nSkZEPGKJtdCf4Qbdk/PgbMTzyLc/NQqDS7O5ZwFN//JaYT430upEPVA8fk3UuB6K1XS4erFLiTCxTVvItwmchqhnmPGJ+eJIA7Dgf9RbZ2MIFYdUBwA+2Hu1qQBAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAPtwb8oPo8gbHkUKDa4qxSlMDEAgDmQX7k4Gs8WAbDGrJDi7fXIiXA2LHZT9osH1ezZCzZytyXA1zAEIc3g/IfQuy0yA61VLR6hPvHqYBcZ23pEMV1P3BmG+Q4wJO4y99w1C72nOLLiaRZkZcPEJkQi77lbkwMWVPyDc1myaBhdP4b0Id0PU5VS4GtkbKXB2tUQ6XH3cA4i/xIDmr7iMcI/cTYT66w+/OE8EcRgO/F8v0s4IYtUBxQHlslf0gAEAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAGPPn/TDKPKGR5FCg+ucghQmBiAQB7LX7UoGs8WAbHvbJDh7U08iXE1ZNJS9odG1OB2hhmsrRK/4iwZXYcejLDC2ZG4CXG/Leqg4kG02MxGu/s7CZLiau38RZk44lAFnXxdKhbCB6tPa0+DsgIcIvdVSWXD1LC4ZcPHgb2fg9p56gvCju2kaXE0u30W4mnOXUuFqeC9BwkcM6N9w9XS4+pmPE+Fqkncg3MAJUw/SG/LdeSKIw3Dgv/vRFkYQqw4oDgBOIlikgAEAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAIv61f/DKPKGR5FCg2tLVwoTAxCIA9nP9iaD2WIvGlxPKSdB2EDxJ9MTIWqA4klpCDZDchJc/ZIjyXDx3ACEOdX3EuHmx988zAJnOybB1Wv1IMx8uw9qzoZGV4tnUDUVTa4q9zPgatTepsDdFjw/DW5X3ctkuF2Sqllw8TvSCL01mQlw9rR1OXD14k+T4WYWmqbBxQOssuDqV5xEiP+6lApXz38nBe7mCOV0OPvklUS4miPHEG5ruoNwP9u8n84TQRyGA//vFDUxglh1QLsAsfUiQ6QBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAFt5bfYPo8gbHhsZTji19aQwMQCBMpB9YH8ymK0CZL9nSwKzlYDsl5sT4WpW2CPYayckwdWb7k6Gi3u+6eCEsd28EGoO9iP0mjGcFICxD8ZnwNXsCEqAq1nyZAHcnGs30+BqJE+nwtXkX0uBi7O7pcPFn+xB2PXmLsJfTw8i/Ft+/a3zRBCH4cB/H8c+RhDrCFAcAGSx7vUgAQAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODjJN4YwoTAxjwOxXtT4ayOZw26CRB2YJOK9sToWxWJ98CGJvN6VsSTA27k+oamF4+J5sNCHP6p8PUszgF+SVA2dJOuxbB1HA6sQUlwdUciUCoPzsfYeYL/mS4ePDTDDj76xuY+3mc3jemwd2W8SkZLr5aJgvOjhKG6RVwiuhMgJtzf30OnM17MRluznajNLjftwdkwcX9lqXB1dd/SIWzj39Mgfsrmy0dymZ20nqI8JfvrmS4GyQvIdw/l+WP80Qw+8D/rWYNjBBxTScARi6sCbABAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODkJN4YwoTAxj8cyzanwxl/3LcoJMEZTM4rWxPhLK/OfoWINjfkpLg6lXXJMPFbTYkw/X2T4ep/+EY5JcAZbM47VqUDBdnC0qCs49EJMLNPDsfYeYLfhj7i2Pw0ww4++ubFLia941pcHbGJ5h6RqfVMllQNptTlHAG3K6ITph7PjneX58DN5P3IsJt243SEOyALLh6v2VpcHb9h1S4muMfU+Duz2ZLh7I/OGo9TISr992FCGfJSwj1c1n+OE8Esw/832rWwAgRl3ECAOsp8a2wAQAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODgJN4YwoTAxiwORXtT4ayWZ026CRB2QJOK9sToWxGJ98CGJvJ6VsSTA2zk+qaZLi4zYZkuHj/dIT6IL8EKJvDKaQhGW6miC/MHAYnmQaE+rPzEWa+4E+Gq8k7lAHXe4s/Fc5+35gGV5PxCeGX1TJZcDVRwhlwMyM6E+Dq76/PgbN5LyLctt0IZuY/x+0BWXB/+S1DiNd/gLnhj+Pxjylwvdls6XAztR4mwtm+uxDmS15KgbtnLssf54lg9oH/W80aGCHi3E4ARiqHebABAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODgJN4YwoTAxhwORXtT4aymZw26CRB2SxOK9sToWxGJ98CGJvB6VsSTM0/R9U1yXBxmw0Ic/qnJ8LVBPklQNmSTiENMDV/HEV8Yeb8cpRpSISzz85Phut9wY9Qn3coAy5u/zIFbm/XijS4eMYnmHpWp9UyWXA1UcIZcHMiOmHu+eF4f30OXC/vRYRfthulwdVvD8iCu81vGUK8/kMqXO/xjynwsMpmS4er13qYCLfLd1cyXI3kJZh6Dqe5LH+cJ4LZB/6v5W9ghIiLOwEAgJMGubABAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwMDv5N4YwoTAxiwOBXtT4ay/zhu0EmCshmdVrYnQtk/HH0LYOx/jt+SkuDiqmtgejmcbDYgzOmfjtAb5JcAZXM5hTQkw+0V8UWYI9MAU//N8ez8ZLj4C/5kuHjeoQwo+5ej/csUuF1dK9Lg4hmfEOavlsmCq4kSzoC7IaIT5p4vjvfX58DN572YDDdnu1EaXHx7QBZcvd8yhHj9h1S4O49/RLgnmy0drkbrYSJcr+8uhPmSlxDq57L8cZ4IZh/4v5a/gREizucEADSSjk2wAQAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODoJN4YwoTAxiwOxXtT4ay/zhu0EmCshmdVrYnQtn/HH0LEOxvSQg1qmsQem02wNgMTv3TE+HiQX4JUDarU0gDQo2IL8ycH44yDQjzz85PhrNf8MPYvxzzDmXA2fYvYe5nc+pakQYXz/gEU8/htFomC25OlDBCb0RnAtxexXU5cPbpSwi7thulwcW3B8DM+ebotwxhV/2HVLgffc6nwP31TCMdrl7rYSLcHN9dMPO5nSQvpcDdNpflj/NEMPvA/7X8DYwQcV4nAHcUXzawAQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEte3/vDKPKGBwODiJN4YwoTAxiwOhXtT4aymZw26CRB2WxOK9sT4eK+BTA2g9O3pCS4uOoamF5GJ4tOGJvZafI+hPogvwQom9MppAGm5p+jiC/MnD+OMg0I9Wfnw9RwOb3gT4aL5x3KgNtl/zIF7oauFWlwNRmfkuH+Wi2TBVcTJZwBd1tEZwLcDY9X58DZnFcRftluhDBze0AW3J1np51hgbF9zqfAw+qZRjpcjdZDmF9+OfruQrhf8lIK3Py5LH+cJ4LZB/6v5W9ghIiLOwEAsFS7OaQBAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEte3/vDKPKGh54et6N4YwoTAxDMjehwKNqfDGYzHHB03KCTBGEziDmsbE+Esqc5+BbA2L/svyXB1Kx3UF0D1cug72DRCWGL7L7sMHkfRP2Pv+sdgvwSIGocmB1DGmDqT9iL+CbB2TINCPPPzk+Gs1/wJ8Pdk3coA8z2exPrYP8yBSru4dC1Ig3MnndDxCHjE0T9DU5Rx9UyWWB2UDevY5QwRG/Zo3sOEZ1Q9zBUOTxenQNm//8/34HzKkRvl+xbh+1GEDPVy9wctgdAzLHaONnBbxlEvGtugkP9h1SIf61FHXzOQ9xzo3OhwzONdKjeY/ZaDxPh7vfdlQy3V/ISRP3G4ATHNfnfnSdCIuD/vCUtjCBWYma0IwDBBQnMsAEAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEte3/vDKPKGRxiLoqN4YwoTAxCUPTrqULQ/GcxmYBBz2KCTBGVXOaxsT4Syf9n7FsDYJ+y+JcHUrHdQXQPTe8LeohPCVi9zs5+8D6I+ctpv+yC/BIiahrcOIQ0w9R72Ir4wc6bZyzTAzGdgODsfYeYL/mS4eN6hDDD7iJ+Og/1LiPuPnlvn0LUiDcyed8PNIeMTRL1INZPjapksMPtb92H7KOEMqNt0HSI6oe5h0Hd4vDoHzPZ7c8Se8ypEb9dcd4ftRmlwNdsDIOYkqX+z91sGEZ97I96h/kMqPEx8zkPcI2Kt5/BMIx0eDloP4eFm77srGe5fyUspcPMnenx3nghmH/i/83QLI4j18Vy5AwDAzsPBsAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEte3/vDKPKGh+VuRkfxxhQmBiBQ/7bToWh/MpjNwPDLfoNOEpQt5rCyPRHKnubgWwBjn7D/loRQo7oGpneavUUnlN2w22HyPoj6wwYnHYL8EiDiDqaOIQ0Iu0R8k+B6ZRpg5nvYn52fDLfrBT+Mre+QdygDzO6Yu8PB/iXE/UfPPXDoWpEGZm8Qvu+Q8Qmi/g0Lp+NqmSwwm8Vd1CFKGKK3a26lQ0RnAswuh8erc8Bsvzcu9pxXIXpFrPUcthulwd2wPQBizhE/HQe/ZTC74h3qP6RCwrDsmL3P+RSo+kSHZxrpUDOP2Gk9RISb7y6E3yUvQdR3yV5xmOjx3XkiWPzA/52nWxhBrJ9GyxwBu59t27ABAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEte3/vDKPKGh59dqKN4YwoTAxC8ObLAoWh/MpjN0HDFYYNOEoTNcMJhZXsilF3l4FsAYyc6fEuCqmnodFBdA9O728GiE8I+eu64w+R9EPWHDaodgvwSoHo9HEMaYOoXOYj4wuzycJBpgJk/zf7sfKgahl/2L/hhbDGHvEMZYLaw9UUH+5cQ92+cnObYtSINzFb/ttMh4xNE/cZgPcfVMllgdp/9ZYcoYYhe9TIRh4jOBLhdj1fngNlWG4UdOK9C9N7o7HDYbgQxs2tugsP2AIg5G4V1HfyWpcHZ9R9SoXq/2/ucT4Gqn+rwTCMdFob2Wg+RwnAXIqwkL6XAw7xa8bvzRDDnwP/zn1oYQaxDKs8dAStqlHCwAQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEte3/vDKPKGh2tct6N4YwoTAxCof8t2LNqfDGYzMKx32KCTBGWfcFjZnghhNyxy8C1IhIt/S4KqcWB2VF0D0yvmYNEJYR/tc3ScvA+i/kuNgWOQXwJUvZ9jSANUfcNuBxFfhF0yDYlwN5ydDzMz0eEFP4x9wj7vUAaY/dolxdH+JcT9IrsnOXatSAOzb3R2OGR8gqjvku10XC2TBWb/cIl1iBKG6J13o8IhohPqHoZpDo9X54DZVhuFHTivJsPN2W6UBlVT5bA9IAsaVgsc/JZBxOdG7HKo/5AKVX/Zwed8ClT8ssMzjXSo2zoctB4mwsPHdxfC75KXIOqTnus5Vit+d54Iljjw//ynFkYQ69xBBicAuHaH0bABAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAAvp6P1hFHnDY2s3q5PaihQmBiC4cZLPsWh/MpjN0LDbYYNOEoTNIOawsj0Ryq5y8C2AsX/Zf0uCqmlY5KC6BqqXQd/BohPCPup3xWHyPoh6He89DkF+CVD1bx1CGmDqp9mL+MLsOmEn0wAz38P+7PxkuF0v+JPhbsg7lAFxc2esg/1LiPu7ZHc7dK1IA7OtN363z/gEUS9i/cBhtUwWmL0/cYdDlDBE79wbxxwiOhPg5j9enQNmJ6qXOXBeTYaaf9lhu1EaVE2iw/aALLi9fsvSoOa7O9R/SAWzNwq7OficT4GHwzONdKj6hQ5aD+H+cvDdlQw3U/ISRL1fznGHasXvzhPB4gf+n//Uwghi/WbjcQIAWnhHuLABAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEte3/vDKPKGx4R1RY7ijSlMDEAQse+9Q9H+ZDA7LHS7wwadJDCbnaHKYWV7Ipi9VqvRwbcAwl62Ss3hWxJETdTUJQ6qayB6f/7Xc7DohLDPPjjtMHkfRP2S2h0OQX4JYDZjgrxjSEMy1Hx9BxFfiDnBVwUdZBog6metumF/dj5ETXAoq8MLfgiboYHTIe9QBpjdxH3Qwf4lxP02EwUcu1akgdkFlk0OGZ8g6mPuKTmulskCs2tVZzhECUP0Zi7vcojoTICaae3weHUOmD3JRMOB8ypEr0PhdIftRhAzvZudHbYHQMypexTp4LcMIv5PLMeh/kMqmJ26T9PB5zzEPVPetzk800gHs1kZBB20HiZC/SLn4LsL5pdcB8lLEPUrV/12qFb87jwRLHHg//lPLYwg1h/nzY4ADwAqRrABAAA=" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/fan/4/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx4ccBleZ88lMDEDwZx6D68FniWD2FSA7og7CjnrF4PpRKwXMviXD6FrLCBFn2MHgWvg6Ccw+38rgqueD0OuUnwzXa3AhCa5+Fw+EvY6Z0dX/OISte5HB1bMZwc4xR9gbNTkZLp7LAhFvA+rdtTgTbqbdx2Q4e1tUOpitAWSvWZ8LZocA9Xa8TIS7c8HPVLiZwmmpcL3tIllgdiPQXueZiDCRXJUG99fkZ1lw9cxGKXBzbsZmws33WwXxiz9QzUeTNHi4nY5FmPl2VTLcTBVRRBgGztF0ngi24MD/M5dCwOLKdn9cAKyyqWWwAQAA" />
    <add key="/lpc/it8688e/fan/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB9Odzy4y55OZGICAY/1nl4PPEuHsiDoIG6Tmo1YKmG1h9sWllhEifrrxs0vh6yQwuyz5i4ueD0TcjvOLi1M+wkyDC0lwc3bxINj+xyHs/bc/u3g2Q9iWQPNzzBH2Rk1OhrNzWRLhbti1OBPMPrrus4vdx2S4+LaodLj6NetzwewSoNs6XiLcvOBnKly9cFoqXH27SBZc3HlmMtw9kqvS4HZNfgZRUwMUZzZChMnN2Ey4+X6rkuDh8NEEorcKqOZ0bDLcnLerIOw/HF9cVEST4OzAOZrOE0EchgP/z1wKAYtvev3FBQCeog1XsAEAAA==" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx6u3S11kziczMQDBEfFlLgefJcLZEXUQtmj4MpePWilg9h6dZS61jBDxq2HLXApfJ4HZ74Dq9XwQep3yIWZa6y5zMbiQBNe7iwfC3uK4zMX/OIT9DCju2YxQk2MOMWcq0PyoyRBzPgPV57JAxL8zAc1ZnAlhZy9zsfuYDNe7LSod7oY163PB7BNAvR0vIXo3A9kLfqbC7RVOg7CdJZa5tItkgdnzgGqcZ0LMfAS0S3JVGpi9CGjX5GcQNUeB5jMbQcIkcv1Sl5uxEPecAar3WwXxy3Kg+R9NEHpPxyLMfLsKwhZ9t9RFRTQJ7rbAOZrOE0EchgP/z1wKAYufPLPKBQA7ghRIsAEAAA==" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx4soNleZ88lMDEBQyMDuevBZIpg9wZzdNaIOwhYDin/USoGzaxkh4vuAagpfJ8HV6/kg9DrlI8w0uJAEZ+/igbA589ld/Y9DxZ+wuXo2Q9ivpNldc8wh5ojLsLtGTYaY8+MEm2suC0R8HlD9rsWZYHb9WjZXu48QNXuAerdFpcPduWZ9Ltw9HS8heoOA6hf8TIWbI5yWClffLpIFZp8G2uU8MxmuV3JVGtydk59B1BQA2cxGKXB33ozNhLvfbxXEL7vK2Fw/mqTB7TodCzEzOZjd9e2qZLheFVGo34F2Bc7RdJ4I4jAc+H/mUghcLwBkYurdsAEAAA==" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGxwmdhS4y55OZGIBAXXKhy8FniWA2z4QFLhF1EDZIzUetFDB7/8cFLrWMCPHC10lgtjVQr54PRNzw3gIXp3yIme+2LXAxuABRcwmodxcPhF3MutDF/ziEfapmgYtnM4QtD7Q3xxxiznug3qjJEHN8Fy9wyWWBiE84BTRncSaYnbR9gYvdx2S4+LaodDB7JtD8Netz4eZ0vIToPdC/wGXBz1S4+4XTIOxEoPntIllgNtPpBS7OMyFmJgL9JbkqDcwuAaqZ/CwL7kdmI0iYiADV3IzNhJvvtyoJHp4fTSB624F6T8cmw8Ph7SoIOxzoXxVRiHomoF8C52g6T2QAm/T/zKUQsPi5E3NdABYewZawAQAA" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDD0frTZ/8GMDgh6NrqabzRDD7wP8bP0OYIOIMTgCMlrHFMAAAAA==" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5PM+WQmBjBgdTr4LBHKZnOKqIOxWZxquBaawNiTn2VBxZmdmI1S4Gq+REXzwdiupZrOE8HsA/9v/AyBquFwAgD3Lrq+eAAAAA==" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5P1pk9+DGDA4eRaquk8Ecw+8P/GzxAmmDgAdI1CwjAAAAA=" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDLUeZ88lMDGBwwPHgs0Qo+5BjRB2Mvc/xo1YKlL3DsZYRIV74OgnO1vNJhKtxyoeZucvR4AJMzTHHXTww9h5H/+NJcPWezQhzcswT4XqjJifD1eSyIMzftTgTbqbdR4T7t0Wlw81fsz4XLt7xMhHOXvAzFW6+cFoq3Mx2kSy4uPPMZHg4SK5Kg6uZ/CwLzmY2SoG7+WZsJly93yqEvz6awPRuczwdiwiTt6sQ/lIRRYSPa6mm80SIO//f+BkCFb/iCAC3hfvpsAEAAA==" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwMDh5OpiTo7AxhwOH3USmGCsDmdahkTmWDiguVdnDD2Lp4kuBr/40lwNTVBHQg1izPhauw+JsPVbItKh7PXrM+Fq+l4mQhnL/iZCldzV9gY7jbJVWlwNZOfZcHVMBulwNk3YxH2+q1CuG3PpJMsMPbbVclwNSqiMDVcTq6lms4TwewD/2/8DIGK8zgBAIovSnIsAQAA" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGBwPDB0frTZ/8GMDgg6NrqabzRDD7wP8bP0OYYOIAofFMqjAAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR/MBLwfrTZ/8GIAAxHbw1XSeCOIwHPh/VzGUCSYOAIB3BMUwAAAA" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAJPdp/7TKPKGh7phhIPM+WQmBiC4eS7c4eCzRDDbjivcIaIOwu7JCXf4qJUCZncD2bWMCDWFr5PgavR8EOJO+clwcYMLEDUaQLt28UDYt4B2+R9H6PVsRrBzzBHmHJ9+hAXG3rU4E67G7mMy3JxtUelw9WvW58LVdLxEuH/Bz1S4GuG0VLh4u0gW3BznmYhwkFyVBmdPfpYFV89sBAkHULjdjEW4x29VElz9RxOE3tOxyXB7365CmK8imgQXd/DVdJ4I4jAc+H9XMRRuPgBrjTwupAEAAA==" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB5/uJnuZ88lMDEAQ07/J/uCzRDB71cdN9hF1EDZIzUetFDD7R/Bm+1rGRLj6wtdJcLaeD0KvU34yXK/BhSS43l08CPX+xxFsz2aEmhxzhDlRkxHm5LIgxHctzoSrt/uYDBffFpUON/PKJFN2GFs4LRVuTrtIFlyv80yE3yVXpcHNmfwsC85mNkqB670ZmwkX91uFcP+eSSdZYOy3qxDuURFNgrMdfDWdJ4I4DAf+31UMhZsJACfkbQqMAQAA" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR/aeJfYy55OZGIDg/PfF9gefJYLZO+SW2kfUQdhsjUvtP2qlwMVrGSHiMlFL7AtfJ4HZIHP0fCDiskBxp3yImY1TF9sbXEiCi3NeOcICY3s2I/TmmCP0Rk1G6M1lQYjvWpwJd4Pdx2S4+LaodDh7zfpcuF86XiL0LviZCtcrnJYKV9MukgV3g/PMZLh/JVelwdVMfpYFN+dO/1m4+/1WJcHVfDRJg5tzOhYRnm9XIdypIpoEd4ODr6bzRBCH4cD/u4qhcL0AnplqDpgBAAA=" />
    <add key="/lpc/it8688e/voltage/4/values" value="" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAJPdp/7TKPKGR0w/k4PM+WQmBiAAsQ8+SwSzV31kcoioQ7A/aqXA1dQyIsQLXyfBxfV8IOIXlZgdnPKT4WoMLkDUNB9gctjFg2D7H0+Cq/FsRpiTY44wJ2oywpxcFoT4rsWZcHPsPiLUJHFdZYGxO14mwtUs+JkKZwunpcLtahfJgrOdZybD1UiuSoObOflZFlz8Tv9ZFhjbbxXCzR9N0uBqTscizHm7ChG2KqJJcPc7+Go6TwRxGA78v6sYClcDAE3asHSYAQAA" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx8FTjA7Wmz75MQABiO3gq+k8EcRhOPD/rmIoE0wcANFSt90wAAAA" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAJPdp/7TKPKGx49gZgfDyRM1GIAAxN4Wlc4EYl9UYnZYsz6XCSY+PeSYDIz9dlUyXI2KaBJcjYOvpvNEEIfhwP+7iqFwcQCr1R7FbAAAAA==" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAJPdp/7TKPKGB5N2u73M+WQmBiBoOeBlf/BZIpi96mOTfUQdhH3Zd5L9R60UMPtHcLN9LSNEfIpEi33h6yQwu9a+1V7PByK+7XOsvVN+Mly9wQWIGkYGB/tdPBC2Klujvf9xCDstLc3esxnCnnNkgn2OOcQcsZt99lGTIeZ8WK5mn8sCEb9akWm/a3EmmH1qYaq93UeIGh9zT/ttUelgtlOCq/2a9blgduVLN/uOl4lwNyz4mQpnC6dB2KeB5rSLZIHZ91Tc7J1nQsy8C2RLrkoDs6X0Y+0nP0OoYTZKgepttb8ZC3FPvpCzvd8qiF/07qbYfzSB6A3aEWd/OhZi5rz36fZvVyXD9aqIQtS/+O1p7+Cr6TwRxGE48P+uYihYfD5QPQBJeMeGsAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>