<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8688e/control/0/plot" value="false" />
    <add key="/lpc/it8688e/control/1/plot" value="false" />
    <add key="/lpc/it8688e/control/2/plot" value="false" />
    <add key="/lpc/it8688e/control/3/plot" value="false" />
    <add key="/lpc/it8688e/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/4/plot" value="false" />
    <add key="/atigpu/0/temperature/5/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/clock/2/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/voltage/1/plot" value="false" />
    <add key="/atigpu/0/voltage/2/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/0/load/1/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8688e/voltage/0/plot" value="false" />
    <add key="/lpc/it8688e/voltage/1/plot" value="false" />
    <add key="/lpc/it8688e/voltage/2/plot" value="false" />
    <add key="/lpc/it8688e/voltage/3/plot" value="false" />
    <add key="/lpc/it8688e/voltage/5/plot" value="false" />
    <add key="/lpc/it8688e/voltage/6/plot" value="false" />
    <add key="/lpc/it8688e/voltage/7/plot" value="false" />
    <add key="/lpc/it8688e/voltage/8/plot" value="false" />
    <add key="/lpc/it8688e/temperature/0/plot" value="false" />
    <add key="/lpc/it8688e/temperature/1/plot" value="false" />
    <add key="/lpc/it8688e/temperature/2/plot" value="false" />
    <add key="/lpc/it8688e/temperature/3/plot" value="false" />
    <add key="/lpc/it8688e/temperature/4/plot" value="false" />
    <add key="/lpc/it8688e/temperature/5/plot" value="false" />
    <add key="/lpc/it8688e/fan/0/plot" value="false" />
    <add key="/lpc/it8688e/fan/1/plot" value="false" />
    <add key="/lpc/it8688e/fan/2/plot" value="false" />
    <add key="/lpc/it8688e/fan/3/plot" value="false" />
    <add key="/lpc/it8688e/fan/4/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4HBxUm+OoWJAQycnWbdTYSyXZx2hNizQNgH/peJTWWEiTO5eorCxLsSm+HiACM2cRxUAAAA" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4EhzEm+OoWJAQxCnGbdTYSzd4TYs0DYB/6XiU1lhIkzuXqKwsS7Epuh4mFOAIfHo1RUAAAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4FBw2lnxDEWBjDQcNoRYg9lH/hfJjaVESbO5OopChPvSmyGiwMA1r9OqUgAAAA=" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEIdkYcY2GAgh0h9lD2gf9lYlMZYeJiOZ6icHGrZrg4AIXRBylIAAAA" />
    <add key="/atigpu/0/temperature/5/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEIdkYcY2GAgh0h9lD2gf9lYlMZYeJiOZ6icHGrZrg4AIXRBylIAAAA" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4HBxUm+OoWJAQycnWbdTYSyXZx2hNizQNgH/peJTWWEiYvleIrCxa2a4eIA3osriVQAAAA=" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4Fhm6N8dQoTAxhscpx1NxHK3uC4I8SeBcI+8L9MbCojTFwsx1MULm7VDBcHAJwXVL5UAAAA" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEIdkYcY2GAgh0h9lD2gf9lYlMZYeJiOZ6icHGrZrg4AIXRBylIAAAA" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDg6HA1UW+OoWJAQQ2uLrMupsIZ+8IsWcBsxkO/C8Tm8oIExfL8RSFi1s1Q8QPuLoAAGMKaYdUAAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAGv37dX6FnHDg+HALZedEcdYGEAAyN4RYg9hMxz4XyY2lREmLpbjKQoXt2qGiwMAaM3EGUgAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="H4sIAAAAAAAEAGv37dX6FnHDg+FAtbN8dQoTAwg0CDnPupsIZZ9z2hFizwJmMxz4XyY2lREiruQsluMpChe3aoaIM1xwAgBvVIY+VAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDg5HBw16+OoWJAQjS09zsZ91NhLN3hNizMIDBgf9lYlMZYeJiOZ6icHGrZrg4AA4hRaBUAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="H4sIAAAAAAAEAGv37dX6FnHDY9bMSPudEcdYGIAAxN4RYg9mMzAc+F8mNpURJi6W4ykKF7dqhosDAI7oT2VIAAAA" />
    <add key="/atigpu/0/voltage/2/values" value="H4sIAAAAAAAEAGv37dX6FnHD4+wZH/udEcdYGIAAxN4RYg9mMzAc+F8mNpURJi6W4ykKF7dqhosDAKcnNMtIAAAA" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDg4Fhg4N8dQoTAxgssJ91NxHKZmDYEWLPAmEd+F8mNpURJi6W4ykKF7dqhosDAP+y5YBUAAAA" />
    <add key="/atigpu/0/load/1/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEI5KtTmBjAoMFu1t1EKJuBYUeIPQuEdeB/mdhURpi4WI6nKFzcqhkuDgB0IBQoVAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEIdkYcY2GAgh0h9lD2gf9lYlMZYeJiOZ6icHGrZrg4AIXRBylIAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADMr19L+FnHD483Tn45hE+KZGICgI/uVY1h8ApgtnPHS8di7RcwMYHDgvzWfAVi8+/Irx+A560Rg4nL6CmDxYxMEnACUsehPVAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADMr19L+FnHDo8RjvkPYhHgmBiC4kzXVISw+AcyuOTrF4di7RcwMYHDgvzWfAVhcY+1Uh+A560Rg4nL6CmBxPa8dDgB7GeFIVAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADMr19L+FnHDY1OAvmPYhHgmBiCoszdxDItPALP1Jpk4Hnu3iJkBDA78t+YzAItHyJk47j28TgQmvoVdASx+9bySIwCXy6i+VAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADvtXK/1LeKGR0fVK0eelhQmBhA4UOxYW5YIZa9w+LbEmIUBwvl/+MoCRhDr6I0ex7/S9qIwcaGeXrB4yPnHjgDN7u5oVAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANspU6/1LeKGB9tLLie51SlMDCCQ0OZYW5YIYTMkOnxbYswCYR/4f/jKAkYQ60TZZ8e/0vaiMHGhnl6w+JeY+44A1C1bhlQAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADvtXK/1LeKGx46YrY48LSlMDCCwoMextiwRwmaocvi2xJgFwj7w//CVBYwg1o+lRxz/StuLwsSFenrB4nnR0k4ArIgAnVQAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADvtXK/1LeKGh3j0ZkeelhQmBhBQmOlYW5YIYTOsd/i2xJgFwj7w//CVBYwgVvw6Iae/0vaiMHGhnl6w+Jc/exwB2SgsK1QAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADvtXK/1LeKGx89prE48LSlMDCDQYO1YW5YIZV9x+LbEmAXMZjjw//CVBYxglo2Gg0+WvShc3LYXLG7rv8sRAEo1cNtUAAAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEADvtXK/1LeKGx2quI448LSlMDCDQEOJYW5YIYTOccPi2xJgFwj7w//CVBYwg1v3pyx18suxF4eK2vWDxS0XrHAEwG9n7VAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEADvtXK/1LeKGR0yfhBNPSwoTAwg4+DnWliVC2A27Hb4tMWYBsxkO/D98ZQEjiGW77ZCDT5a9KFzcthcsPqmF1wkAEMZWB1QAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODkhNPSwoTAxjwO9WWJULZHE5nBC1YIOwD/9+mz2GEsEWdLnU4i8LEbeU7oeIyTgBLYyLQVAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODthNPSwoTAxhIOtWWJULZnE5nBC1YIOwD/wVy5zBC2HJO65udRWHitvKdUHFlJwBMVJ23VAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODlBNPSwoTAxgIO9WWJULZHE5nBC1YIOwD/wVy5zBC2CJO65udRWHitvKdUHE1JwAfhtLEVAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODphNPSwoTAxgIOdWWJULZPE5nBC1YIOwD/wVy5zBC2MJOPaucRWHiCT86oOJSTgBUNhsAVAAAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODpBNPSwoTAxjwOj2ckQhlczllvDdngbAP/BfIncMIYfM79axyFoWJJ/zogIqLOQEA3NzR1VQAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODlBNPSwoTAxhwOD2ckQhlMzllvDdngbAP/BfIncMIYUs49axyFoWJJ/zogIpLOwEAHhYGGVQAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEADvtXK/1LeKGBwODtRNPSwoTAxjIOD2ckQhl8zllvDdngbAP/BfIncMIYas79axyFoWJJ/zogIqbOgEAzhDaUFQAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAGv37dX6FnHDYwrDCSf56hQmBiBQAbF3JcLZ0Wc1WRjA4MB/rXmrGEGsT0DxokpTUZi4XcB0sPgBoDgAcPz3ZFQAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANve26j1LeKGR5xCg+vOuhQmBiAQA7LZJiWC2eIvGlx33DBlYQCDA/8ntc1jBLFmA9X8yXQUhYnnZHaDxWuA4gAC7w0uVAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFvzr1nrW8QNjziFBlep2BQmBiAQe9Hgqrs5EcIGiltnGLMwgMGB/5aXFjCCWLOB4qFy9qIw8exbvWDxGqA4AAKWsbBUAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFvs0ab1LeKGR5xCg2tWSgoTAxCIAdmxWxPh7CMihiwMYHDg/3mXxYwg1myg+P7VNqIw8WzvCWDxGqA4AH1QE8xUAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJsxqUPrW8QNjziFBte1eSlMDEAg9qLBVe5SIoQNFD+9WI+FAQwO/F+1aikjiDUbKP7E1UoUJh49dRJYvAYoDgDdQg92VAAAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAJvB3K31LeKGR5xCg6tvYgoTAxCIAdmChxPhbAt/HRYGMDjwX1B2BSOINRsoXnvZXBQm7nx/Cli8BigOAMCTIhdUAAAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAGv37dX6FnHDI06hwVW+OoWJAQjEQOxdiRD2iwbXzC+aLAxgcOC/TPkqRhBrNlBNUaWpKEzcLmA6WLwGKA4AJZB8Q1QAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAGv37dX6FnHD467NEUf56hQmBiC4u7bBUX5XIpjd6W3qmPlFk4UBDA78lylfxQhiRRxqcSyqNBWFidsFTAeLV4psdwQAoHQ50lQAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAGv37dX6FnHDI3n/BEf56hQmBiCwVdRwlN+VCGavEVjskPlFk4UBDA78lylfxQhi8QiaOBZVmorCxO0CpoPFxS+3OQIAk1ZeiFQAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEI7EyPsTBAQeYXTSj7wH+Z8lWMMPGiSlNRmLhdwHS4OAA/emEOSAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAGv37dX6FnHDgwEI7EyPsTBAQeYXTSj7wH+Z8lWMMPGiSlNRmLhdwHS4OAA/emEOSAAAAA==" />
    <add key="/lpc/it8688e/voltage/0/values" value="H4sIAAAAAAAEAHvfJqn9LeKGxyu1ifbc3klMDEDg0p1jf6MgEcx229ZsX9RfzcwABgf+16tHgMX5dJvs+RTLRGDiK/aHgcWLMxrtARr4T/hUAAAA" />
    <add key="/lpc/it8688e/voltage/1/values" value="H4sIAAAAAAAEAHvfJqn9LeKGx6qPTA7c3klMDEDwI5jZ4UZBIpxd1F/NzAAGB/7Xq0fAxeU8y0Rg4jOmh8HFAbXpYA9UAAAA" />
    <add key="/lpc/it8688e/voltage/2/values" value="H4sIAAAAAAAEAHvfJqn9LeKGx8FTjA6Pdx9mYQACELuov5qZAQwO/K9Xj2CCict5lonAxGdMD4OLAwAS9/j3SAAAAA==" />
    <add key="/lpc/it8688e/voltage/3/values" value="H4sIAAAAAAAEAHvfJqn9LeKGR0w/k8Pj3YdZGIAAxC7qr2ZmAIMD/+vVI5hg4nKeZSIw8RnTw+DiAMkz50VIAAAA" />
    <add key="/lpc/it8688e/voltage/4/values" value="" />
    <add key="/lpc/it8688e/voltage/5/values" value="H4sIAAAAAAAEAHvfJqn9LeKGR/aeJfbc3klMDEAgE7XE/kZBIpidBRQv6q9mZgCDA//r1SPA4iD1cp5lIjDxGdPDwOKyQL0AE4AaHlQAAAA=" />
    <add key="/lpc/it8688e/voltage/6/values" value="H4sIAAAAAAAEAHvfJqn9LeKGB5/uJntu7yQmBiBY9XGT/Y2CRDi7qL+amQEMDvyvV48Ai8f0b7KX8ywTgYnPmB4GFwcAENzFR1QAAAA=" />
    <add key="/lpc/it8688e/voltage/7/values" value="H4sIAAAAAAAEAHvfJqn9LeKGR+nkCAdu7yQmBiBQN4xwuFGQCGbfOhfuUNRfzcwABgf+16tHgMXtuMId5DzLRGDiM6aHgcU1gHoBa5sm/FQAAAA=" />
    <add key="/lpc/it8688e/voltage/8/values" value="H4sIAAAAAAAEAHvfJqn9LeKGR/MBL4fHuw+zMAABiF3UX83MAAYH/terRzDBxOU8y0Rg4jOmh8HFAVv8TKBIAAAA" />
    <add key="/lpc/it8688e/temperature/0/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwPDH0du7yQmBjD44XijIBHK/uWYva2aGcI+8L+NIQKuRqmgTAQmPqUgDC4OAEldCBZUAAAA" />
    <add key="/lpc/it8688e/temperature/1/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwODgNPj3YdZGMBAwCl7WzUzhH3gfxtDBBNMXKmgTAQmPqUgDC4OAMoaRbFIAAAA" />
    <add key="/lpc/it8688e/temperature/2/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwMDqxO3dxITAxjccbxRkAhlX3HM3lbNDGEf+N/GEAEVv+CoVFAmAhOfUhAGFWd2AgA9S95CVAAAAA==" />
    <add key="/lpc/it8688e/temperature/3/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwMDj9Pj3YdZGMCAxyl7WzUzhH3gfxtDBBNMXKmgTAQmPqUgDC4OAFIfHZRIAAAA" />
    <add key="/lpc/it8688e/temperature/4/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwMDj9Pj3YdZGMCAxyl7WzUzhH3gfxtDBBNMXKmgTAQmPqUgDC4OAFIfHZRIAAAA" />
    <add key="/lpc/it8688e/temperature/5/values" value="H4sIAAAAAAAEAHvfJqn9LeKGBwMDoxO3dxITAxgwOt0oSISyGZyyt1UzQ5gH/rcxREDFmZ2UCspEYOJTCsKg4ixOAOow4Q5UAAAA" />
    <add key="/lpc/it8688e/fan/0/values" value="H4sIAAAAAAAEAHvfJqn9LeKGxwmdhS7c3klMDEDwHsi+UZAIZnctXugy9W41MwMYHPgfczMcLH558QIXpYIyEZj4lIIwsLh8xkIXADgxWxNUAAAA" />
    <add key="/lpc/it8688e/fan/1/values" value="H4sIAAAAAAAEAHvfJqn9LeKGx8Rgdldu7yQmBiB4Jc3ueqMgEcw2A4pPvVvNzAAGB/7H3AwHi4vLsLsqFZSJwMSnFITB1QMAAkfuLlQAAAA=" />
    <add key="/lpc/it8688e/fan/2/values" value="H4sIAAAAAAAEAHvfJqn9LeKGx8Mry1y4vZOYGIDgTPYylxsFiWD2+oZlLlPvVjMzgMGB/zE3w8HizY3LXJQKykRg4lMKwsDiF6cucwEAJ48F1lQAAAA=" />
    <add key="/lpc/it8688e/fan/3/values" value="H4sIAAAAAAAEAHvfJqn9LeKGx6YJX1y4vZOYGIBgZ/IXlxsFiXD21LvVzAxgcOB/zM1wsHgZUFypoEwEJj6lIAwsbmH2xQUAQ73T11QAAAA=" />
    <add key="/lpc/it8688e/fan/4/values" value="H4sIAAAAAAAEAHvfJqn9LeKGxzpmRldu7yQmBhDYweB6oyARzL4yj8F16t1qZrA4w4H/MTfDweIg9UoFZSIw8SkFYWDxWzKMrgCBIFHLVAAAAA==" />
    <add key="/lpc/it8688e/control/0/values" value="" />
    <add key="/lpc/it8688e/control/1/values" value="" />
    <add key="/lpc/it8688e/control/2/values" value="" />
    <add key="/lpc/it8688e/control/3/values" value="" />
    <add key="/lpc/it8688e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>